video {
  object-fit: inherit;
  width: 100%;
  position: absolute;
  margin-left: 0rem;
  top: 0;
  left: 0;
  display: block;
  z-index: -2;
  @media only screen and (max-device-width: 1300px) {
    padding-top: 6rem;
  }
  @media only screen and (max-device-width: 1180px) {
    height: auto;
    margin-left: 0rem;
    padding-top: 10rem;
  }
  
  @media only screen and (min-device-width : 601px) and (max-device-width : 1090px) and (orientation: portrait) {
    height: 77%;
    margin-left: -87%;
    padding-top: 0rem;
    width: auto;
  }
  @media only screen and (max-device-width: 600px) and (orientation: portrait) {
    height: 80%;
    width: 200%;
    margin-left: -100%;
  }
  @media only screen and (max-device-width: 450px) {
    height: 60%;
    width: auto;
    margin-left: -110%;
    padding-top: 0rem;
    margin-top: 30rem;
  }
  @media only screen and (max-device-width: 375px) {
    margin-left: -120%;
  }
}

.bg-black {
  background-color: black;
  background: black;
}

