.section-blogroll {
  display: flex;
  flex-direction: column;

  h3, h5,h6 {
    color: white;
  }
  p {
    color: #ced4da;
  }

  .home {
    background-color: #1d1d3c;
    padding: 2rem 4rem;
    height: 20rem;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 1rem;
      padding-bottom: 2rem;
      height: 100%;
      width: 45%;
    }
  
    .heading-secondary {
      margin: 1rem 0rem;
    }
  
    .subheader {
      text-align: justify;
      color: $color-dark-clean;
    }
  }
  .video {
    display: block;
    height: 100vh;
    margin-left: 0rem;
    margin-bottom: 0rem;
    left: 0;
    -o-object-fit: inherit;
    object-fit: inherit;
    opacity: .3;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -2;
  }
}

.blogroll {
  margin-top: 3rem;

  h2 {
    color: $color-dark-clean;
  }
  .page-title {
    margin: 6rem 2rem 0rem 2rem;
  }
  .search-content {
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem 0rem 3rem;
  }
  .posts {
    display: grid;
    padding: 2rem 3rem;
    grid-template-columns: 31% 31% 31%;
    gap: 3rem;
  }  
  .post-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $color-background-box;
    border-radius: 5px;
    
    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &-image {
      height: 15rem;
      width: 100%;
    }    
    &-content {
      padding: 1rem 0.5rem;
      .title {
        a {
          color: white;
          font-family: "Nineteen Ninety Seven";
          text-decoration: none;
        }
      }
      .excerpt {
        padding: 0.6rem 0rem;

        p {
          color: #c2c5c9;
          font-size: 0.9rem;
          margin-bottom: 0rem;
        }
      }
      .tag-items {
        display: flex;
        padding-bottom: 0.6rem;
        .post-tagbox {
          font-size: 1rem;
          padding: 1px 4px;
          margin-right: 7px;
          background-color: #212138;
          border: 1px solid;      
          text-decoration: none;
        }
      }
    }    
    &-footer {
      display: flex;
      justify-content: flex-end;
    }
    &-link {
      align-items: center;
      color: #a440f2;
      display: flex;
      font-family: Nineteen Ninety Seven;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2rem;
    }
  }

}