// Website
	.button-pink {
		font-family: $font-primary;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.375rem;
		color: $color-white;
		background: $color-primary-pink;
		border-radius: 1px;
	}

	.button-navbar {
		background: $color-navbar-button;
		border: 1px solid $color-primary-pink;
		box-sizing: border-box;
		box-shadow: 0px 6px 39px -6px $shadow-navbar-button;
	}