// Website

.button-outlined-purple {
  font-family: $font-primary;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.375rem;
  color: $color-white;
  background: #a540f24f;
  border-radius: 1px;
  border: 2px solid $color-primary-purple;
  outline: none;
  text-decoration: none;
  &:focus {
    outline: none !important;
  }
  &:hover{
    background-color: $color-primary-purple;
  }
}

.button-dark, .btn-secondary {
  font-family: $font-primary;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: $color-white;
  background: $color-background-features;
  border-radius: 1px;
  border: 2px solid $shadow-green-neon;
  outline: none;
  text-decoration: none;

  &:focus {
    outline: none !important;
  }
  &:hover {
    background: $color-background-features !important;
    border: 2px solid $shadow-green-neon;
    filter: brightness(116%);
    -webkit-filter: brightness(116%);
    -moz-filter: brightness(116%);
  }
}

.button-navbar {
  background: $color-navbar-button;
  margin-left: auto;
  color: white;
  margin-right: 0.5rem;
  border-radius: 3px;
  border: 1px solid $color-primary-purple;
  font-size: 1.2rem;
  &:hover{
    background-color: $color-primary-purple !important;
    color: white !important;
  }
}