.faq {
  &-row {
    position: relative;
	padding: 1rem 0rem;
  }

  &-box {
    position: relative;
    
  }

  &-title {
	position: relative;
	margin: 1rem 0rem;
  }

  &-subtitle {
	position: relative;
	margin: 2rem 0rem;
	color: $color-grey;
  }

  &-divider {
	width: 36.25rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	height: 1px;
	background: #494866;
	border-radius: 8px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}