
.faq {
  &-row {
    position: relative;
	padding: 1rem 0rem 1rem 2rem;
  }
  &-box {
    position: relative; 
  }
  &-title {
	position: relative;
	margin: 1rem 0rem;
  }
  &-subtitle {
	position: relative;
	margin: 2rem 0rem;
	color: $color-grey;
  }
  ul {
    padding: 0px 24px;
  }

  .nav-tabs {
	display: flex;
	flex-direction: row;
	padding-left: 0px;
	border-bottom: 2px solid $shadow-purple-neon-secondary !important;
  }
  &-tab {
	display: flex;
	height: 5rem;
	margin-right: 0%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 0px;
	background-color: rgba(29, 29, 60, 0.4) !important;
	justify-content: center;
	align-items: center;
	transition: none;
	h6 {
	  color: $color-dark-clean;	
	  width: 100%;
	}
  }
  &-tab:hover {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1.5px solid $color-grey !important;
  }
  &-tab.active {
	text-shadow: 0.2rem -0.25rem 0.8125rem $shadow-navbar-button;
	background-color: rgba(29, 29, 60, 0.6) !important;  
	border-bottom: 2px solid $shadow-navbar-button !important;
	border-radius: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
  }
  &-content {
	padding-top: 30px;  
    background-color: rgba(29, 29, 60, 0.6);
	transition: opacity 0.7s cubic-bezier(.79,.14,.15,.86) !important;
  }
  &-divider {
	width: 36.25rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	height: 1px;
	background: #494866;
	border-radius: 8px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  &-mobile {
	.accordion-item {
	  background-color: rgba(29, 29, 60, 0.1); 	
	}
	.accordion-header {
	  height: 15rem;
	  background-color: rgba(29, 29, 60, 0.8);
	  padding: 0px;	
	}
	.accordion-button {
	  height: 100%;
	  background-color: rgba(29, 29, 60, 0.8);
	  font-size: 17px;	
	  color: $color-dark-clean;
	  padding: 1rem 2.7rem;
	}
	.accordion-button:focus {
	  border-color: rgba(29, 29, 60, 0.8);
	  box-shadow: none;	
	}
	.accordion-button::after {
	  width: 15px;
	  height: 15px;
	  background-image: none;
	  border: solid $color-dark-clean;
	  border-width: 0 3px 3px 0;
	  display: inline-block;
	  padding: 3px;
	  transform: rotate(45deg);
  	  -webkit-transform: rotate(45deg);
	}
	.accordion-button:not(.collapsed) {
	  border-bottom: 2px solid $shadow-purple-neon-secondary;	
	}
	.accordion-button:not(.collapsed)::after {
	  transform: rotate(-135deg);
  	  -webkit-transform: rotate(-135deg);
	}
	.accordion-collapse {
	  background-color: rgba(29, 29, 60, 0.5);
	}
  }
}

.section-faq {
  .fade {
    transition: opacity .7s cubic-bezier(.79,.14,.15,.86)!important;
  }	
}