.navbar {
  border-bottom: 1px solid $color-grey-dark;
}

.navbar,
.navbar div {
  height: 3.0625rem;
  background: $color-black;
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 0.6px;
  padding: 0%;
}

.menu-logo {
  width: 100px;
}

.nav-links a {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 1rem;
  margin-right: 0% !important;
  color: $color-grey !important;

  @media only screen and (min-device-width: 1000px) and (max-device-width: 1300px) {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }

  &:not(:last-child) { 
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;    
  }
  &:hover {
    color: $color-dark-clean !important;
    text-decoration: none;
  }
}

.nav-active {
  color: $color-dark-clean;
}