

.css-1k0rue0 {
  width: fit-content;
  height: fit-content;
}

/* .css-2o24zz {
  .MuiScopedCssBaseline-root {
    height: 400px !important;
  }
} */

// right hand side container
.css-il5arm, .css-18ffqxh-MuiScopedCssBaseline-root, .css-1rxeg99 {
  height: 440px !important;
}

// From and To Input components
.css-4dexju-MuiCardHeader-root, .css-1vt11j {
  padding: 9px 16px;
}

.css-7wlpp3-MuiTypography-root, .css-1pwg7el {
  padding: 9px 16px 0px 16px
}

// Send input component
.css-stdxn0, .css-stdxn0 {
  padding: 9px 16px;
}

// images placeholder
.css-1jri6wq {
  height: 32px;
  width: 32px;  
}

// token selection
.css-optmut-MuiContainer-root, .css-18yl2lj {
  // chains box
  .css-1htkaz {
    padding-bottom: 10px;
  }

  // tokens box
  .css-0 {
    height: 200px !important;
  }
}

// bridges list, languages list
.css-cgrgzr-MuiList-root, .css-v8tqxr {
  height: 310px;
}