.filter-box{
  display: flex;
  width: 100%;
}
.search-box {
  margin-left: 1rem;
}
.search-icon {
  color: $color-grey;
  position: absolute;
  margin-left: 0.6rem;
  align-self: center;
  font-size: 1.2rem;
  @media only screen and (max-device-width: 600px) {
    margin-left: 1.1rem;
    font-size: 2.5rem;
  }
}
.select-cryptex__control {
  height: 3.2rem;
  min-height: 3rem !important;
}
.select-cryptex {
  width: 40% !important;
}

#newsbox-tags-list {
  height: 3rem;
  margin-left: 1rem;
}

.pag {
  &-group{
    width: 29px;
    height: 29px;
    left: 1122.94px;
  }
  &-box {
    right: -100%;
    top: 0%;
    bottom: 0%;
    background: #1D1D3C;
    border: 1px solid #494866;

    &.back{
      display: flex;
      justify-content: center;
      align-items: center;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    &.next{
      display: flex;
      justify-content: center;
      align-items: center;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &.active {
      border: 1px solid #A440F2;
      box-sizing: border-box;
      box-shadow: 0px 6px 39px -6px rgba(203, 6, 255, 0.53);
      border-radius: 2px;       
    } 
  }
  &-arrow {
    width: 12.69px;
    height: 13.59px;
    
    &.active {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  &-items {
    display: flex;
    padding: 0rem 1rem;
    justify-content: center;
    width: 90%;
    align-items: center;
  }
  &-item {
    width: 4.85px;
    height: 4.85px;
    margin: 5px;
    top: 11px;
    background: #494866;
    border-radius: 0.555556px;    

    &.active {
      top: 10.5px;
      width: 6.44px;
      height: 6.44px;
      background: #E440F2;
    }
  }
}



