.newsbox {
  &-title {
    position: absolute;
    width: 13.75rem;
    height: 1.5rem;
    left: calc(50% - 12.75rem/2 + 12.9875rem);
    top: calc(50% - 1.5rem/2 - 11.875rem);
  }
  &-pagination {
    position: absolute;
    width: 13.75rem;
    z-index: 12;  

    &.one {
      margin-top: 56%;
    }
    &.two {
      margin-top: 27%;
    }
  }
  
}

.newsgroup {
  position: absolute;
  left: calc(50% - 12.75rem/2 + 12.9875rem);
  top: calc(50% - 1.5rem/2 - 7.875rem);
  padding-left: 6.4225rem;
}

.newsitem {
  display: inline-table;
  &-photo {
    position: relative;
    width: 6.4225rem;
    height: 6.4225rem;
    float: left;
    margin-left: -6.4225rem;
    margin-right: 1.5rem;
    border-radius: 2px;
  }
  &-title {
    position: relative;
    width: 29.25rem;
    height: 2.9875rem;

    &-link {
      text-decoration: none !important;
    }
  }
  &-description {
    position: relative;
    width: 26.125rem;
    height: 2.7875rem;
  }
  &-link {
    position: relative;
    width: 6.345625rem;
    height: 0.95375rem;
    margin-top: 0.75rem;
    &:hover {
      color: $color-dark-clean;
      text-decoration: none;
    }
  }

  &-tagbox { 
    color: $color-dark-clean !important;
    background-color:$color-black;
    border: 1px solid $shadow-purple-neon;
    margin:0px 10px 10px 0px;
    line-height: 200%;
    padding:2px 0 2px 2px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
     
  }

  &.hide {
    display: None;
  }

  .taglink  { 
    padding:2px;
  }
    
  .tagbox a, .tagbox a:visited, .tagbox a:active { 
    text-decoration:none;
  }

  &:not(:last-child) { 
    padding-bottom: 3rem !important;    
  }

  .terciary-header {
    font-size: 0.8rem;
  }
}

.pag {
  &-group{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 1122.94px;
    top: 678px;
  }
  &-box {
    position: absolute;
    right: -100%;
    top: 0%;
    bottom: 0%;
    background: #1D1D3C;
    border: 1px solid #494866;

    &.back{
      left: 20%;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    &.next{
      left: 100%;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &.active {
      border: 1px solid #A440F2;
      box-sizing: border-box;
      box-shadow: 0px 6px 39px -6px rgba(203, 6, 255, 0.53);
      border-radius: 2px;       
    }

    
  }

  &-arrow {
    position: absolute;
    width: 12.69px;
    height: 13.59px;
    left: 25%;
    top: 25%;
    
    &.active {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &-items {
    position: absolute;
    left: 61%;
    top: 0%;

    &.three{
      left: 57%;
    }
    &.four{
      left: 54%;
    }
    &.five{
      left: 52%;
    }
  }

  &-item {
    position: absolute;
    width: 4.85px;
    height: 4.85px;
    top: 11px;
    background: #494866;
    border-radius: 0.555556px;
    
    &.second {
      margin-left: 15px;
    }
    &.third {
      margin-left: 30px;
    }
    &.fourth {
      margin-left: 45px;  
    }
    &.fifth {
      margin-left: 60px;  
    }

    &.active {
      top: 10.5px;
      width: 6.44px;
      height: 6.44px;
      background: #E440F2;
    }
  }

}

