.newsbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 37rem;
  width: 100%;
  padding: 1.5rem 0rem 0rem 1rem;

  &-title {
    position: relative;
    padding: 1rem;   
    font-size: 1.7rem;
  }
  &-subtitle {
    width: 100%;
    font-size: 1rem;
    color: $color-grey;    
    line-height: 3.2rem;
  }
  &-pagination {
    display: flex;
    justify-content: center;
    padding-right: 3rem;

    &-container {
      display: flex;
      width: 20rem;
      justify-content: space-between;
      @media only screen and (max-device-width: 900px) {
        width: 25rem;
      }
    } 
  }  
  .newsitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    &-photo {
      position: relative;
      width: 13.5rem; //14.125rem; //226px;
      height: 9.1rem; //9.5rem; //152px;
      margin-right: 1.5rem;
      border-radius: 2px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-title {
      position: relative;
      width: 25rem;
      &-link {
        text-decoration: none !important;
      }
    }
    &-brief{
      font-family: "Space Mono";
      margin: 0.44rem 0rem;
      font-size: 0.75rem;
      width: 25rem;
      color: #A9A7BE;
      letter-spacing: 0.3px;
    }
    &-link {
      position: relative;
      margin-top: 0.5rem;
      &:hover {
        color: $color-dark-clean;
        text-decoration: none;
      }
    }
    &-tagbox { 
      color: $color-dark-clean;
      background-color:$color-black;
      border: 1px solid $shadow-purple-neon;
      margin:0px 10px 10px 0px;
      line-height: 200%;
      padding:2px 0 2px 2px;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
    &.hide {
      display: None;
    }

    .taglink  { 
      padding:4px;
    }
      
    .tagbox a, .tagbox a:visited, .tagbox a:active { 
      text-decoration:none;
    }

    .terciary-header {
      font-size: 0.8rem;
    }
  }
  &-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;    

    .search-icon {
      color: $color-grey;
      position: absolute;
      margin-left: 0.6rem;
      align-self: center;
      font-size: 1.2rem
    }
    .filter-box{
      display: flex;
      width: 50%;
    }
    .select-cryptex {
      margin-left: 1rem;
      width: 40% !important;
    }
    .select-cryptex__control {
      height: 3rem;
      min-height: 3rem !important;
    }
  }
  &-search {
    width: 50%;
    height: 3rem;
    background: $color-navbar-button;
    border: 0.8px solid $color-grey;
    box-sizing: border-box;
    border-radius: 1px;
    font-family: $font-tertiary;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 0.875rem;
    color: $color-grey;
    padding: 1.5rem 2.3rem;
  }
  &-search:focus {
    border: 0.8px solid $shadow-purple-neon-secondary !important;
  }
  @media only screen and (max-device-width: 800px) {
    height: 100%;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
    &-title {
      position: relative;
      padding: 2rem 3rem;
      font-size: 2rem;
      width: 100%;
      height: 100%;
    }
    &-subtitle {
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 16px;
    }
    &-inputs {
      padding: 2rem 3rem;
      .filter-box{
        width: 80%;
      }
      .select-cryptex {
        width: 30% !important;  
        &__control {
          height: 4rem;
        }
        &__placeholder {
          font-size: 1.5rem;
        }
        &__single-value {
          font-size: 1.5rem;
        }
        &__input {
          font-size: 1.5rem;
        }
        &__option {
          font-size: 1.5rem;
        }
      } 
    }
    &-search {
      font-size: 1.5rem;
      height: 4rem;
      width: 50%;
    }
    &-pagination {
      padding-right: 0rem;
      &-container {
        width: 40%;
      }
    }
    .newsitem {
      margin-bottom: 3.5rem;
      &-info {
        width: 60%;
        padding: 0rem 1.2rem;
      }
      &-photo {
        width: 35%; 
        height: auto; 
      }
      &-tagbox{
        font-size: 1.5rem;
      }
      &-title {
        margin: 1rem 0rem;
        font-size: 1.5rem !important;
        line-height: 2rem;
        width: 100%;
      }
      &-brief{
        margin: 0.8rem 0rem;
        width: 100%;
        font-size: 1.3rem;
      }
      &-link{
        font-size: 1.3rem;
        width: 100%;
        margin: 0.5rem 0rem;
      }
    }
  }
  @media only screen and (max-device-width: 600px) {
    padding: 1.5rem 0rem 0rem 1rem;
    &-title {
      padding: 3rem 4.5rem;
      font-size: 4.5rem;
    }
    &-subtitle {
      padding: 3rem 4.5rem;
      font-size: 3rem;
    }
    &-inputs {
      padding: 3rem 4.5rem;
      .search-icon {
        margin-left: 1.1rem;
        font-size: 2.5rem;
      }
      .filter-box{
        width: 100%;
      }
      .select-cryptex {
        width: 50% !important;  
        &__control {
          height: 7rem;
        }
        &__placeholder {
          font-size: 3rem;
        }
        &__indicators {
          height: 7rem;
        }
        &__indicator-separator {
          margin-top: 4px;
          margin-bottom: 4px;
        }
        &__input {
          font-size: 3rem;
        }
        &__single-value {
          font-size: 3rem;
        }
        &__option {
          font-size: 3rem;
        }
      }
    }
    &-search {
      width: 50%;
      height: 7rem;
      font-size: 3rem;
      padding-left: 4.5rem;
    }
    &-pagination {
      width: 90%;
      padding-left: 5rem;
      &-container {
        width: 75%;
      }
    }
    .newsitem {
      flex-direction: column;
      align-items: center;
      margin-bottom: 7rem;
      &-info {
        width: 90%;
        padding: 2rem 0rem;
      }
      &-photo {
        width: 90%; 
        height: auto; 
      }
      &-tagbox {
        font-size: 3rem;
      }
      &-title {
        margin: 1rem 0rem;
        font-size: 2.8rem !important;
        line-height: 4rem;
        width: 100%;
      }
      &-brief{
        margin: 2rem 0rem;
        font-size: 2.5rem;
      }
      &-link{
        font-size: 2.3rem;
        margin: 3.5rem 0rem;
      }
    }
  }
}


#newsbox-tags-list {
  height: 3rem;
  margin-left: 1rem;
}

.pag {
  &-group{
    width: 29px;
    height: 29px;
    left: 1122.94px;
  }
  &-box {
    right: -100%;
    top: 0%;
    bottom: 0%;
    background: #1D1D3C;
    border: 1px solid #494866;

    &.back{
      display: flex;
      justify-content: center;
      align-items: center;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    &.next{
      display: flex;
      justify-content: center;
      align-items: center;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &.active {
      border: 1px solid #A440F2;
      box-sizing: border-box;
      box-shadow: 0px 6px 39px -6px rgba(203, 6, 255, 0.53);
      border-radius: 2px;       
    } 
  }
  &-arrow {
    width: 12.69px;
    height: 13.59px;
    
    &.active {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  &-items {
    display: flex;
    padding: 0rem 1rem;
    justify-content: center;
    width: 90%;
    align-items: center;
  }
  &-item {
    width: 4.85px;
    height: 4.85px;
    margin: 5px;
    top: 11px;
    background: #494866;
    border-radius: 0.555556px;    

    &.active {
      top: 10.5px;
      width: 6.44px;
      height: 6.44px;
      background: #E440F2;
    }
  }
}



