.newsbox {
  padding: 0rem 0rem 0rem 2rem;

  &-title {
    position: relative;
    width: 17.75rem;
    height: 1.5rem;    
    font-size: 1.7rem;
  }
  &-pagination {
    display: flex;
    justify-content: center;
    z-index: 12; 
    &-container {
      display: flex;
      width: 17rem;
      justify-content: space-between;
    } 

    &.two {
      padding-top: 12.6rem;
    }
    &.one {
      padding-top: 20rem;
    }
  }  
}

.newsgroup {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 98%;
    padding-top: 4rem;
    justify-content: space-between;
    align-content: center;
}

.newsitem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-photo {
    position: relative;
    width: 6.4225rem;
    height: 6.4225rem;
    margin-right: 1.5rem;
    border-radius: 2px;
  }
  &-title {
    position: relative;
    width: 29.25rem;
    height: 2.9875rem;

    &-link {
      text-decoration: none !important;
    }
  }
  &-description {
    position: relative;
    width: 26.125rem;
    height: 2.7875rem;
  }
  &-link {
    position: relative;
    width: 6.345625rem;
    height: 0.95375rem;
    margin-top: 0.75rem;
    &:hover {
      color: $color-dark-clean;
      text-decoration: none;
    }
  }

  &-tagbox { 
    color: $color-dark-clean !important;
    background-color:$color-black;
    border: 1px solid $shadow-purple-neon;
    margin:0px 10px 10px 0px;
    line-height: 200%;
    padding:2px 0 2px 2px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
     
  }

  &.hide {
    display: None;
  }

  .taglink  { 
    padding:2px;
  }
    
  .tagbox a, .tagbox a:visited, .tagbox a:active { 
    text-decoration:none;
  }

  &:not(:last-child) { 
    padding-bottom: 5rem !important;    
  }

  .terciary-header {
    font-size: 0.8rem;
  }
}

.pag {
  &-group{
    width: 29px;
    height: 29px;
    left: 1122.94px;
  }
  &-box {
    right: -100%;
    top: 0%;
    bottom: 0%;
    background: #1D1D3C;
    border: 1px solid #494866;

    &.back{
      display: flex;
      justify-content: center;
      align-items: center;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    &.next{
      display: flex;
      justify-content: center;
      align-items: center;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &.active {
      border: 1px solid #A440F2;
      box-sizing: border-box;
      box-shadow: 0px 6px 39px -6px rgba(203, 6, 255, 0.53);
      border-radius: 2px;       
    } 
  }
  &-arrow {
    width: 12.69px;
    height: 13.59px;
    
    &.active {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  &-items {
    display: flex;
    padding: 0rem 1rem;
    justify-content: center;
    width: 10rem;
    align-items: center;
  }
  &-item {
    width: 4.85px;
    height: 4.85px;
    margin: 5px;
    top: 11px;
    background: #494866;
    border-radius: 0.555556px;    

    &.active {
      top: 10.5px;
      width: 6.44px;
      height: 6.44px;
      background: #E440F2;
    }
  }
}

