.select-cryptex {
  width: 100%;
  &__value-container {
    padding: 2px 10px;
  }
  &__input {
    color: $color-grey-light !important;
  }
  &__input-container {
    color: $color-grey-light;
  }
  &__indicators {
    width: 45px;
  }
  &__indicator {
    color: $color-grey-light;
    padding: 10px;
  }
  &__indicator-separator {
    color: $color-grey-light;
  }
  &__placeholder {
    color: $color-grey-light;
  }
  &__option {
    font-size: 1.2rem;
  }
}
.select-cryptex__control--is-focused {
  background-color: $color-navbar-button !important;
  border-radius: 1px !important;
  border-color: $shadow-purple-neon-secondary !important;
  box-shadow: 0 0 0 1px $shadow-purple-neon-secondary !important;
}
.css-1pahdxg-control:hover {
  border-color: $shadow-purple-neon-secondary !important;
}
