.academy {
   margin-top: -3rem;
   
  h3, h5, h6 {
    color: white;
  }
  p {
    color: #ced4da;
  }

  .home {
    background-color: #1d1d3c;
    padding: 2rem 4rem;
    height: 20rem;
    
    .description {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 1rem;
      padding-bottom: 2rem;
      height: 100%;
      width: 45%;
    }
    .heading {
      margin: 1rem 0rem;
    }
    .text {
      text-align: justify;
      color: $color-dark-clean;
    }
  }
  .content {
    padding: 6rem 5rem;
  }
}