.menu-logo {
    width: 120px;
}

.section-main {
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  
  &-divider {
    position: absolute;
    width: 0.0625rem;
    height: 5.125rem;
    left: 31.5rem;
    top: 22.625rem;

    background: $color-grey-dark;
  }
  
  .main-image {
    position: absolute;
    width: 36.19rem;
    height: 35.81rem;
    left: calc(50% - 36.19rem/2 + 10.25rem);
    top: calc(50% - 35.81rem/2 - 1.5rem);
  }
}

.main {
  
  &-divider {
    position: absolute;
    width: 0.0625rem;
    height: 5.125rem;
    // left: 31.5rem;
    // top: 22.625rem;

    left: calc(50% - 0.0625rem/2 - 13.7rem);
    top: calc(50% - 5.125rem/2 - 3.8rem);

    background: $color-grey-dark;
  }

  &-tcap {
    left: calc(50% - 2.5625rem/2 - 8.74375rem);
    top: calc(50% - 0.875rem/2 - 2.5rem);
    display: flex;
    align-items: center;
    letter-spacing: 0.01875rem;


    color: $color-grey;
    
    &-image{
      width: 1.75rem;
      // height: 1.065rem;
    }
  }

  &-button {
    display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1.25rem 0rem 0rem 3.25rem;
    position: absolute;
		width: 13.4375rem;
		height: 3.875rem;
		// left: 5rem;
    // top: 30.9375rem;
    left: calc(50% - 13.4375rem/2 - 33.3rem);
    top: calc(50% - 3.875rem/2 + 4.4rem);
  }
}

.section-about {
  // background-color: turquoise;
  position: relative;
  width: 100%;
  height: 100vh;
}

.section-features {
  // background-color: pink;
  position: relative;
  width: 100%;
  height: 100vh;
}

.section-team {
  // background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
}

.section-faq {
  // background-color: purple;
  position: relative;
  width: 100%;
  height: 100vh;
}

.section-community {
  // background-color: blue;
  position: relative;
  width: 100%;
  height: 100vh;
}