body,
html {
  height: auto;
  overflow: auto;
}

@-moz-document url-prefix() {
  body,
  html {
    height: auto;
  }
}

body {
  width: 100%;
  .pt-5 {
    padding-top: 0rem !important;
  }
  .mt-5 {
    padding-top: 0rem !important;
  }
}

.btn-primary:focus {
  color: $color-grey;
  background-color: $color-navbar-button;
  border-color: $color-grey;
  box-shadow: 0 0 0 0.2rem $shadow-purple-neon-secondary;
}
.btn-primary:hover {
  background-color: $color-navbar-button;
  border-color: $shadow-purple-neon-secondary;
}

.menu-logo {
    width: 120px;
}

.main {
  &-divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 0.0625rem;
    height: 5.125rem;
    background: $color-grey-dark;
  }

  &-tcap {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    letter-spacing: 0.01875rem;
    color: $color-grey;
    
    &-image{
      width: 1.75rem;
    }
  }

  &-button {
    display: flex;
		flex-direction: column;
		align-items: center;
    justify-content: center;
    width: 13.4375rem;
		height: 3.6rem;
    &:hover {
      color: $color-white !important;
      text-decoration: none;
    }
  }
}

.section-main {
  display: flex;
  align-items: flex-end;
  flex-wrap:wrap;
  position: relative;
  padding: 1rem;
  height: 95vh;

  .main {
    &-container {
      display: flex;
      flex-direction: column;
      padding: 4rem;
    }
    &-info {
      padding: 2rem 1rem;
      width: 50%;
    }
    &-title {
      letter-spacing: 0.6px;
      padding: 1.3rem 0rem;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      &-actions { 
        display: flex;
      }
    }
  }
  .main-buttons-social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .social-item {
      margin-left: 1.5rem;
    }
    .social-item-icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  .button-to-app {
    margin-right: 1rem;
  }
}

.section-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 4rem 1rem;
  padding: 5rem;

  .header {
    margin: 1.5rem 0rem;
  }
  .subheader {
    margin:  0.5rem 0rem;
    text-align: center;
    width: 60%;
  }
  .products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 23rem;
      width: 28rem;
      @media (max-width: 1300px) {
        height: 27rem;
      }

      .terciary-header {
        margin-top: 0.5rem;
      }
      .subtitle {
        margin-top: 1rem;
      }
    }
    &-link {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.section-governance {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  margin: 4rem 1rem;
  padding: 5rem 2rem;

  .governance {
    &-main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      height: 60vh;
    }
    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 55%;
      height: 60vh;
    }
    &-item {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

}


.section-features {
  display: flex;
  flex-wrap: wrap;  
  position: relative;
  margin: 4rem 0rem;
  padding: 5rem 2rem;
}

.section-news {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0rem 2rem;

  .news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media only screen and (max-device-width: 800px) {
    margin: 30rem 0rem;
  }
  @media only screen and (max-device-width: 600px) {
    margin: 20rem 0rem;
  }
}
