body,
html {
  height: 100%;
  overflow-x: hidden;
}

@-moz-document url-prefix() {
  body,
  html {
    height: auto;
  }
}

body {
  width: 100vw;
}

.menu-logo {
    width: 120px;
}

.main {
  &-divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 0.0625rem;
    height: 5.125rem;
    background: $color-grey-dark;
  }

  &-tcap {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    letter-spacing: 0.01875rem;
    color: $color-grey;
    
    &-image{
      width: 1.75rem;
    }
  }

  &-button {
    display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1.25rem 0rem 0rem 3.25rem;
    width: 13.4375rem;
		height: 3.875rem;
    &:hover {
      color: $color-white !important;
      text-decoration: none;
    }
  }
}

.section-main {
  display: flex;
  flex-wrap:wrap;
  position: relative;
  padding: 2rem;
  
  &-divider {
    width: 0.0625rem;
    height: 5.125rem;
    background: $color-grey-dark;
  }
  
  .main-info {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }  

  .market-cap{
    display: flex;
    flex-direction: row;
    .data {
      flex-direction: column;
    }
  }
  .tcap-data {
    padding-left: 2.7rem
  }
  .button-to-app {
    padding-top: 4rem;
    padding-left: 0.5rem;
  }
  .image {
    display: flex;
    justify-content: center;
  }
  .main-image {
    width: 36.19rem;
    height: 35.81rem;
  }
}

.section-about {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 5rem 2rem;
}

.section-features {
  display: flex;
  flex-wrap: wrap;  
  position: relative;
  margin: 4rem 0rem;
  padding: 5rem 2rem;
}

.section-governance {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1.5rem 2rem;
}

.section-team {
  position: relative;
  width: 100%;
  padding: 10rem 2rem 0rem 2rem;
  margin-bottom: 10rem;
  @media only screen and (max-device-width : 1300px) and (orientation: landscape) {
    margin-bottom: 11rem;
    @media screen and (max-device-height: 850px){
        margin-bottom: 15rem;
    }
    @media only screen and (max-device-width: 1100px){
      margin-bottom: 8rem;
      @media screen and (max-device-height: 700px){
        margin-bottom: 13rem;
      }
    }
  }  
  .team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    margin: 5rem 0rem 7rem 0rem;

    @media only screen and (max-device-width : 1300px) and (orientation: landscape) {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      @media screen and (max-device-width : 1100px){
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }

    .members-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media only screen and (max-device-width : 720px) {
        padding-left: 0px;
      }
    }    
  }
  .team-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    padding: 1rem 0rem; 
  }

  @media only screen and (max-device-width: 600px) {
    margin-bottom: 40rem;
  }
}

.section-news {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0rem 2rem;

  .news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media only screen and (max-device-width: 800px) {
    margin: 30rem 0rem;
  }
  @media only screen and (max-device-width: 600px) {
    margin: 20rem 0rem;
  }
}

.section-faq {
  position: relative;
  width: 100%;
  margin-top: 8rem;
  padding: 4rem 4rem;
}

.section-community {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: 7rem 0rem;
  padding: 3rem 4rem;
}