@media only screen and (max-device-width: 600px) and (orientation: portrait) {
 
  .navbar,
  .navbar div {
    height: 49px;
    background: $color-black;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
    padding: 0%;
  }

  .nav-links a {
    z-index: 30;
    height: 100vh;
    background: $color-black;
    padding-top: 40px;
    padding-bottom: 37px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: $color-grey !important;

    &::first-child {
      margin-top: 60px;
    }

    &:not(:first-child) {
      padding-top: 44px;
    }

    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .nav-links-divisor {
    top: -3px;
    position: relative;
    width: 350px;
    height: 10px;
    line-height: 28px;
    background: $color-grey-dark !important;
    background-color: $color-grey-dark !important;
    z-index: 10;
    border: 1px solid #494866;
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: -2px;
    padding-top: -2px;
  }

  .responsive-app-button {
    position: fixed;
    width: 140px;
    margin-left: auto;
    background: $color-navbar-button;
    border: 1px solid $color-primary-pink;
    box-sizing: border-box;
    box-shadow: 0px 10px 49px -10px $shadow-navbar-button;
    padding-left: 30px;
  }

  .menu-logo {
    width: 30px;
    margin-left: -15px;

    &-divider {
      position: absolute;
      width: 1px;
      height: 49px;
      left: 60px;
      top: 0px;
      background-color: $color-grey-dark !important; 
      z-index: 0;
    }
  }

  .menu-logo.tablet {
    display: None;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    position: relative;
    left: -190px;
  }

  .responsive-navbar-nav {
    background: $color-black;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus {
    position: relative;
    padding: 10px 20px 10px 20px;
  }

  .mobile_menu_bar:before {
    display: none;
  }
  .mobile_menu_bar::after {
    font-size: 12px;
    font-family: $font-primary;
    content: "MENU";
    position: relative;
    padding: 10px 20px 10px 20px;
    color: $color-dark-clean !important;
    text-decoration: none;
    &:focus {
      outline: none !important;
    }
  }
  .mobile_nav.opened .mobile_menu_bar:after {
    content: "";
  }

  .button-navbar {
    position: fixed;
    color: $color-grey;
    border: 0px solid $color-primary-pink;
    box-sizing: border-box;
    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .button-pink {
    position: relative;
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .button-dark {
    font-family: $font-primary;
    font-weight: normal;
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  h1, .header {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }

  .header {
    font-size: 22px;
    line-height: 36px;
  }
  .subheader {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
  .home-subheader {
    font-size: 18px;
    line-height: 22px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .link {
    font-size: 3.2rem;
  }

  .section-main {
    padding: 8rem 1rem 2rem 1rem; 
    position: relative;
    height: 100vh;
    width: 100%;
    .col-sm-12, .col-md-8, .col-lg-8  {
      padding-left: 0px;
      padding-right: 0px;
    }
    .main {
      &-container {
        padding: 15rem 4rem;
        .subheader {
          padding: 1rem 0rem; 
          text-align: justify;  
        }
      }  
      &-title {
        padding: 5rem 0rem;
        h3 {
          font-size: 21px;
        }
      }
      &-info {
        width: 100%;
      }
      &-buttons {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        &-actions {
          display: flex;
          width: 100%;
        }
      }
      &-button {
        width: 100%;
        height: 9rem;
        font-size: 16px;
      }
    }
    .button-to-app {
      width: 100%;
      margin-right: 1rem;
    }
    .button-learn-more {
      display: none;
      // justify-content: flex-end;
      // width: 100%;
    }
  }

  .section-products {
    height: 100%;
    margin: 15rem 1rem;
    padding: 15rem 5rem;

    .header {
      align-self: start;
      margin: 2rem;
    }
    .subheader {
      text-align: justify;
      width: 100%;
    }

    .products {
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 4rem;
      &-info  {
        margin-top: 2rem;
      }
      &-item {
        height: 85rem;
        width: 100%;
        margin-top: 6rem;

        .terciary-header {
          margin-top: 1rem;
        }
        .subtitle {
          margin-top: 5rem;
          text-align: justify;
        }
      }
    }
  }

  .section-governance {
    flex-direction: column;
    padding: 20rem 2rem;
    margin: 10rem 3rem 10rem 1rem;
    height: 100%;
    .box {
      margin: 1rem;
      padding: 5rem 4rem;
    }
    .header {
      font-size: 19px;
    }
    .subtitle {
      margin-top: 2rem;
      text-align: justify;
    }
    .governance-header {
      .ctx-icon {
        height: 50px;
        width: 50px;
        margin-top: 0px;
      }
    }
    .governance {
      &-content {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
      }
      &-main {
        width: 100%;
        height: 75vh;

        .icons {
          padding: 1.3rem 0rem;
        }
        .prices {
          padding-top: 3rem; 
        }
      }
      &-icon {
        width: 32px;
        height: 32px;
        margin-right: 20px;

        &.dfp {
          width: 30px;
          height: 30px;
        }
        &.gemini {
          width: 30px;
          height: 30px;
        }
      }
      &-detail {
        height: 150rem;
        width: 100%;
        margin-top: 10rem;
        .box {
          margin: 3rem  2rem;
          padding: 5rem;
        }
        .price-box {
          margin-left: 2rem;
        }
      }
    }
  }

  .section-safety {
    height: 100%;
    margin: 13rem 1rem;
    padding: 15rem 5rem;

    .header {
      align-self: start;
      margin: 2rem 0rem;
    }

    .subheader {
      text-align: justify;
      width: 100%;
    }

    .items {
      flex-direction: column;
      margin-top: 7rem;
      margin-bottom: 4rem;

      &-info {
        margin-top: 2rem;
      }

      .item {
        height: 85rem;
        width: 100%;
        margin-top: 6rem;

        .terciary-header {
          margin-top: 1rem;
        }

        .subtitle {
          margin-top: 5rem;
          text-align: justify;
        }
      }
      .safety-logo {
        height: 110px;
        margin-top: 3rem;
      }
    }
  }

  .section-ecosystem {
    flex-direction: column;
    margin: 15rem 1rem;
    padding: 15rem 4rem;
    height: auto;

    .box {
      width: 100%;
    }
    .main {
      height: 100rem;
      .subscribe {
        &-data {
          flex-direction: column;
          padding: 4rem 0;
        }
        &-input {
          font-size: 16px;
          height: 54px;
          line-height: 14px;
          padding: 24px;
          width: 316px;
        }
        &-button {
          height: 54px;
          width: 316px;
          font-size: 16px;
        }
      }
    }
    .carousel {
      margin: 10rem 0rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      height: 85rem;
      width: 100%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 10rem 8rem;
    height: auto;

    &-info {
      width: 100%;
      .subtitle {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }
    }
    &-menu {
      width: 100%;
      flex-direction: column;
      margin-top: 12rem;
    }
  }

  .toggle {
    width: 120vw;
  }

  .toggle {
    .togglet,
    .toggleta {
      line-height: 28px;
    }
  }

  .form-control {
    height: 10rem;
  }

  .search-box {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    margin-left: 0rem;
    .search-icon {
      font-size: 4rem;
      margin-left: 2.5rem;
      z-index: 1;
    }
    .search-input {
      padding-left: 8rem;
      font-size: 4rem;
    }
  }

  .filter-box {
    display: flex;
    flex-direction: column;
  }

  .section-blogroll {
    .home {
      height: 70rem;

      .description {
        width: 95%;
      }
      .heading-secondary {
        margin: 3rem 0rem;
      }
    }
  }
  
  .blogroll {
    margin-top: 15rem;

    .posts {
      padding: 5rem 3rem;
      grid-template-columns: 100%;
      gap: 5rem;
    }
    .post-item {
      padding: 5rem 2rem;
      height: 110rem;

      &-image {
        height: 40rem;
      }
      &-content {
        padding: 4rem 1rem;

        .title {
          a {
            font-size: 4rem;
          }
        }
        .excerpt {
          p {
            font-size: 3.5rem;
          }
        }
        .tag-items {
          padding-bottom: 1rem;

          .post-tagbox {
            font-size: 2.7rem;
            padding: 2px 5px;
            margin-right: 9px;
          }
        }
      }
      &-link {
        font-size: 3.7rem;
      }
    }
  }

  @media only screen and (max-device-width: 370px) {
    .section-safety { 
      .items {
        .safety-logo {
          height: 95px;
          margin-top: 2rem;
        }
      }
    }
  }

}