@media only screen and (min-device-width: 391px) and (max-device-height: 1100px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
 
  .navbar,
  .navbar div {
    height: 49px;
    background: $color-black;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
    padding: 0%;
  }

  .nav-links a {
    z-index: 30;
    height: 100vh;
    background: $color-black;
    padding-top: 60px;
    padding-bottom: 44px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: $color-grey !important;

    &::first-child {
      margin-top: 60px;
    }

    &:not(:first-child) {
      padding-top: 44px;
    }

    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .nav-links-divisor {
    top: -3px;
    position: relative;
    width: 350px;
    height: 10px;
    line-height: 28px;
    background: $color-grey-dark !important;
    background-color: $color-grey-dark !important;
    z-index: 10;
    border: 1px solid #494866;
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: -2px;
    padding-top: -2px;
  }

  .responsive-app-button {
    position: fixed;
    width: 140px;
    margin-left: auto;
    background: $color-navbar-button;
    border: 1px solid $color-primary-pink;
    box-sizing: border-box;
    box-shadow: 0px 10px 49px -10px $shadow-navbar-button;
    padding-left: 30px;
  }

  .menu-logo {
    width: 30px;
    margin-left: -15px;

    &-divider {
      position: absolute;
      width: 1px;
      height: 49px;
      left: 60px;
      top: 0px;
      background-color: $color-grey-dark !important; 
      z-index: 0;
    }
  }

  .menu-logo.tablet {
    display: None;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    position: relative;
    left: -190px;
  }

  .responsive-navbar-nav {
    background: $color-black;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus {
    position: relative;
    padding: 10px 20px 10px 20px;
  }

  .mobile_menu_bar:before {
    display: none;
  }
  .mobile_menu_bar::after {
    font-size: 12px;
    font-family: $font-primary;
    content: "MENU";
    position: relative;
    padding: 10px 20px 10px 20px;
    color: $color-dark-clean !important;
    text-decoration: none;
    &:focus {
      outline: none !important;
    }
  }
  .mobile_nav.opened .mobile_menu_bar:after {
    content: "";
  }

  .button-navbar {
    position: fixed;
    color: $color-grey;
    border: 0px solid $color-primary-pink;
    box-sizing: border-box;
    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .main {
    &-title {
      width: 362px;
      height: 108px;
      left: calc(50% - 362px / 2 + 20px);
      top: calc(50% - 108px / 2 - 307px);
    }

    &-number-pink {
      position: absolute;
      width: 257px;
      height: 36px;
      left: calc(50% - 257px / 2 - 30px);
      top: calc(50% - 36px / 2 - 181px);

      font-size: 18px;
      line-height: 36px;

      display: flex;
      align-items: center;
    }

    &-bold-text {
      width: 342px;
      height: 22px;
      left: calc(50% - 312px / 2 - 2.5px);
      top: calc(50% - 22px / 2 - 146px);
      font-size: 14px;
      line-height: 22px;
    }

    &-divider {
      background: transparent !important;
    }

    &-number-blue {
      width: 312px;
      height: 22px;
      left: calc(50% - 312px / 2 - 2.5px);
      top: calc(50% - 22px / 2 - 76px);
      font-size: 18px;
      line-height: 36px;
    }

    &-tcap {
      width: 87px;
      height: 82px;
      left: calc(50% - 30px / 2 - 140.7px);
      top: calc(50% - 22px / 2 - 69.55px);

      &-image {
        width: 30px;
      }

      &-text {
        font-size: 14px;
        line-height: 37px;
      }
    }

    &-button-link {
      z-index: 20;
      text-decoration: none;
      text-align: center;
      &:hover {
        color: $color-white !important;
        text-decoration: none;
      }
      &:focus {
        outline: none !important;
      }
    }
  }

  .button-pink {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 19px 47px;
    position: absolute;
    width: 85%;
    height: 54px;
    left: 28px;
    top: calc(50% - 54px / 2 + 50.55px);
    font-size: 14px;
    line-height: 16px;
  }

  .about {
    &-title {
      position: absolute;
      width: 312px;
      height: 36px;
      left: calc(50% - 312px / 2 - 1.5px);
      top: calc(50% - 36px / 2 - 425px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-content {
      width: 315px;
      height: 247px;
      left: calc(50% - 315px / 2);
      top: calc(50% - 247px / 2 - 245.5px);
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }

    &-image {
      position: absolute;
      width: 380px;
      height: 391.27px;
      left: calc(50% - 386px / 2);
      top: calc(50% - 391.27px / 2 + 208px);
    }

    &-details {
      position: absolute;
      width: 315px;
      height: 353px;
      left: calc(50% - 495.31px / 2 + 92px);
      top: calc(50% - 508.6px / 2 + 88px);

      &-divisor {
        position: absolute;
        width: 310px;
        height: 1px;
        background: #494866;
      }

      &-icons {
        margin-right: 24px;
      }

      &-text {
        height: 72px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .governance {
    &-title {
      width: 312px;
      height: 36px;
      left: calc(50% - 312px / 2 - 1.5px);
      top: calc(50% - 36px / 2 - 405px);      
    }

    &-content {
      width: 315px;
      height: 247px;
      left: calc(50% - 315px / 2);
      top: calc(50% - 247px / 2 - 200.5px);
      font-size: 14px;
      line-height: 20px;
    }

    &-image {
      position: absolute;
      width: 380px;
      height: 391.27px;
      left: calc(50% - 380px / 2);
      top: calc(50% - 391.27px / 2 + 255px);
    }

    &-details {
      position: absolute;
      width: 315px;
      height: 353px;
      left: calc(50% - 495.31px / 2 + 92px);
      top: calc(50% - 360.6px / 2 + 128px);

      &-icons {
        margin-right: 24px;
      }

      &-text {
        height: 72px;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-buttons {
      top: calc(50% - 72.75rem/2 + 1.1125rem);
      width: 315px;
      left: calc(50% - 315px / 2);
    }
  }

  .features {
    display: block;
    position: relative;
    &-title {
      position: absolute;
      width: 352px;
      height: 36px;
      left: calc(50% - 312px / 2 - 20.5px);
      top: calc(50% - 36px / 2 - 484px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-row {
      position: absolute;
      width: 355px;
      left: 40px;
      top: calc(50% - 100px / 2 - 364px);
    }

    &-icons {
      position: absolute;
      width: 82px;
      height: 74.25px;
      left: 12.94%;
      right: 6.94%;
      top: 14.5%;
      bottom: 12.16%;
    }

    &-subtitle {
      position: absolute;
      width: 65px;
      height: 24px;
      left: calc(50% - 65px / 2 - 86px);
      top: calc(50% - 24px / 2 - 18px);
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.3px;
    }

    &-content {
      position: absolute;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
      width: 243px;
      height: 132px;
      left: calc(50% - 243px / 2);
      top: calc(50% - 132px / 2 + 90px);
    }

    &-box {
      &-mint {
        position: relative;
        width: 360px;
        height: 360px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-green-neon,
          0px 0px 34px $shadow-green-neon-second;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
      &-trade {
        position: relative;
        width: 360px;
        height: 360px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-orange-neon,
          0px 0px 34px $shadow-orange-neon-second;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
      &-pool {
        position: relative;
        width: 360px;
        height: 360px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-blue-neon,
          0px 0px 34px $shadow-blue-neon-second;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
      &-farm {
        position: relative;
        width: 360px;
        height: 360px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-purple-neon,
          0px 0px 34px $shadow-purple-neon-secondary;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
    }
  }

  .team {
    position: relative;
    &-title {
      position: absolute;
      width: 312px;
      height: 36px;
      left: calc(50% - 340px / 2 - 7.5px);
      top: calc(50% - 36px / 2 - 367px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-subtitle {
      position: absolute;
      width: 305px;
      height: 44px;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
      left: calc(50% - 340px / 2 - 11px);
      top: calc(50% - 100px / 2 - 281px);
    }

    &-divider {
      background: transparent;
    }
  }

  .header {
    font-size: 22px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  .team-row {
    position: absolute;
    width: 100%;
    top: calc(50% - 260px / 2 - 103.7px);
  }

  .team-box {
    position: relative;
    width: 375px;
    height: auto; //231px;
    left: 10px;

    &-photo-mobile {
      position: relative;
      text-align: center;
      width: 365px;
      height: auto; //161px;
      border-radius: 2px;
    }
    &-name {
      width: 211px;
      height: 22px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.3px;
      // background-color: #212138;
    }
    &-position {
      width: 220px;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.2px;
    }

    &-description {
      position: absolute;
      width: 315px;
      height: 225px;
      border-radius: 2px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.2px;
      margin-top: 20px;
      // background-color: #212138;
    }
  }

  .flippy-back {
    background: $color-black !important;
    background-color: $color-black !important;
  }

  .newsbox {
    position: absolute;
    margin-top: 0px;

    &-title {
      position: absolute;
      width: 304px;
      height: 24px;
      font-size: 22px;
      line-height: 24px;
      left: calc(50% - 204px / 2 + 140.5px);
      top: calc(50% - 250px / 2 + 1390px);
    }

    &-pagination {
      position: absolute;
      width: 57rem;
      margin-top: 6%;  
  
      &.one {
        margin-top: 69%;
      }
      &.two {
        margin-top: 37.5%;
      }
    }

    .newsgroup {
      position: absolute;
      left: 10px; 
      top: calc(50% - 280px / 2 + 1500px);
    }

    .newsitem {
      display: inline-table;
      z-index: 20;
      &.hide {
        display: None;
      }

      &-photo {
        margin-left: 0rem;
        width: 18rem;
        height: 18rem;
        top: 1.2rem;
        margin-right: 15px;
      }
      &-title {
        position: relative;
        width: 355px;
        height: 48px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin-bottom: 12px;
      }
      &-description {
        position: relative;
        width: 315px;
        height: 35px;
        font-size: 12px;
        line-height: 16px;
      }
      &-link {
        position: relative;
        width: 95.53px;
        height: 15.26px;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.6px;
        display: none;
      }

      &-tag-items {
        margin-top: 13px;
        margin-bottom: 12px;        
      }

      &-tagbox {
        position: relative;
        color: $color-dark-clean;
        background-color: $color-black;
        border: 1px solid $shadow-purple-neon;
        margin: 0px 20px 20px 0px;
        line-height: 30px;
        padding: 2px 0 2px 2px;
      }
      .taglink {
        font-size: 14px;
        padding: 2px;
      }

      .tagbox a,
      .tagbox a:visited,
      .tagbox a:active {
        text-decoration: none;
      }

      &:not(:last-child) {
        padding-bottom: 4rem !important;
      }
    }
  }

  .faq {
    &-row {
      position: absolute;
      width: 100%;
      left: 40px;
      top: calc(50% - 200px / 2 - 16px);
    }

    &-title {
      width: 312px;
      height: 36px;
      left: calc(50% - 350px / 2 - 7.5px);
      top: calc(50% - 60px / 2 - 206px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-subtitle {
      width: 305px;
      height: 22px;
      left: calc(50% - 350px / 2 - 11px);
      top: calc(50% - 70px / 2 - 151px);
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
    }

    &-divider {
      width: 350px;
      height: 1px;
      margin-top: 16px;
      margin-bottom: 32px;
    }
  }

  .toggle {
    width: 120vw;
    height: auto;
  }

  .toggle {
    .togglet,
    .toggleta {
      line-height: 28px;
    }
  }

  .question {
    width: 300px;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 12px;
  }

  .answer {
    width: 315px;
    height: auto;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
  }

  .plus {
    position: relative;
    width: 10.83px;
    height: 14px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: -40px;
  }

  .community {
    &-title {
      width: 312px;
      height: 72px;
      left: calc(50% - 312px / 2 - 1.5px);
      top: calc(50% - 72px / 2 - 508px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-subtitle {
      width: 305px;
      height: 88px;
      left: calc(50% - 305px / 2 - 5px);
      top: calc(50% - 88px / 2 - 401px);
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
    }

    &-icons-row {
      position: absolute;
      width: 223px;
      height: 42px;
      left: calc(50% - 375px / 2 + 48.6px);
      top: calc(50% - 104px / 2 - 315px);
    }

    &-item {
      width: 250px;
      &-icon {
        width: 82px;
        height: 82px;
        float: left;
        margin-left: -42.76px;
      }

      &-text {
        width: 63px;
        height: 75px;
        margin-left: -16px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.3px;
      }
    }

    &-image {
      position: absolute;
      width: 400px;
      height: auto; //578px;
      left: calc(50% - 400px / 2);
      top: calc(50% - 578px / 2 + 384px);
    }

    &-subscribe {
      &-title {
        position: absolute;
        width: 309px;
        height: 24px;
        left: calc(50% - 209px / 2 - 53px);
        top: calc(50% - 24px / 2 - 85px);
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.3px;
      }

      &-input {
        position: absolute;
        width: 316px;
        height: 54px;
        font-size: 12px;
        left: calc(50% - 316px / 2);
        top: calc(50% - 24px / 2 + 45px);
        border: 1px solid $color-grey;
        box-sizing: border-box;
        border-radius: 1px;
        line-height: 14px;
        padding: 24px 24px;
      }

      &-button {
        position: absolute;
        width: 316px;
        height: 54px;
        left: calc(50% - 316px / 2 - 3px);
        top: calc(50% - 24px / 2 + 25px);
      }
    }
  }

  .section-main {
    margin-top: 30px; 
    position: relative;
    height: 100vh;
    margin-bottom: 18vh;

    .main-image {
      position: absolute;
      width: 470px;
      height: 465.94px;
      left: calc(50% - 470px / 2);
      top: calc(50% - 465.94px / 2 + 168px);
    }
  }

  .section-about {
    margin-top: 70px; 
    height: 135vh;
    position: relative; 
    margin-bottom: 10vh;   
  }
  .section-features {
    margin-top: 0px; 
    height: 170vh;
    margin-bottom: 60vh;
    position: relative;
  }
  .section-governance {
    height: 130vh;
    margin-bottom: 40vh;
  }

  .section-team {
    height: 95vh;
    position: relative;
    margin-bottom: 145vh;
  }

  .section-faq {
    z-index: 10;
    height: 90vh;
    margin-bottom: 60vh;
    position: relative;
  }
  .section-faq.expand1{
    margin-bottom: 80vh;
  }
  .section-faq.expand2{
    margin-bottom: 100vh;
  }
  .section-faq.expand4{
    margin-bottom: 125vh;
  }
  .section-faq.expand6{
    margin-bottom: 147vh;
  }
  .section-community {
    height: 55vh;
    position: relative;
  } 
  @media only screen and (min-device-width: 420px) {
    .features {
      &-row {
        left: 45px;
      }
    }
  }
  @media only screen and (min-device-width: 440px) {
    .features {
      &-row {
        left: 15%;
      }
    }
    .faq {
      &-row {
        left: 12%;
      }
      &-title {
        left: 8%;
      }
      &-subtitle {
        left: 8%;
      }
      &-divider {
        width: 395px;        
      }
    }
    .newsbox {
      .newsgroup {
        left: 40px;
      }

      .newsitem {
        &-photo {
          top: 0.6rem;
        }
        &-title {
          width: 380px;          
        }
        &-tag-items {
          margin-top: 20px;
        }
      }

      &-pagination {
        position: absolute;
        width: 50rem;       
      }

      &-title {
        left: calc(50% - 204px / 2 + 170.5px);
      }
    }
  }
  @media only screen and (max-device-height: 820px)  {
    .section-main {
      margin-top: 90px;
      margin-bottom: 35vh;
    } 
    .section-about {
      margin-top: 170px; 
      margin-bottom: 30vh;
    }
    .section-features {
      margin-top: 200px; 
      height: 150vh;
      margin-bottom: 85vh;
    }
    .section-governance {
      height: 160vh;  
    }
    .section-team {
      height: 100vh;
      margin-bottom: 170vh;
    }
    .newsbox {
      margin-top: 60px;
      &-title {
        top: calc(50% - 250px / 2 + 1310px);
      }
      .newsgroup {
        top: calc(50% - 280px / 2 + 1430px);
      }
    }
    .section-faq {
      margin-top: 110vh;
    }
    .section-faq.expand4{
      margin-bottom: 140vh;
    }
    .section-faq.expand6{
      margin-bottom: 165vh;
    }
    .section-community {
      height: 80vh;
    }
    .governance {
      &-buttons {
        top: calc(50% - 65.75rem/2 + 1.1125rem); 
      }
    }
    
  }
  @media only screen and (min-device-height: 860px) and (max-device-height: 879px)  {
    .section-features{
      height: 160vh;
    } 
    .section-team {
      height: 85vh;
      margin-bottom: 142vh;
    }   
    .section-community {
      height: 45vh;
    }  
    .newsbox {
      &-title {
        top: calc(50% - 250px / 2 + 1320px);
      }
  
      .newsgroup {
        top: calc(50% - 280px / 2 + 1430px);
      }
    }
  }
  @media only screen and (min-device-height: 880px) and (max-device-height: 910px)  {
    .section-about {
      height: 125vh;
    }
    .section-features{
      height: 150vh;
    } 
    .section-governance{
      height: 120vh;
    }
    .section-team {
      height: 80vh;
    }
    .newsbox {
      .newsgroup {
        top: calc(50% - 210px / 2 + 1440px);
      }
      &-title {
        top: calc(50% - 250px / 2 + 1360px);
      }
    }
    .section-faq {
      height: 80vh;
    }
    .section-community {
      height: 50vh;
    }
  }
  @media only screen and (min-device-height: 911px)  {
    .section-main {
      height: 95vh;
    }
    .section-about {
      height: 120vh;
      margin-bottom: 10vh;
    }
    .section-features{
      height: 150vh;
    }
    .section-governance {
      height: 110vh;  
    }    
    .section-team {
      height: 80vh;
      margin-bottom: 120vh;
    }
    .section-faq{
      height: 80vh;
    }
    .newsbox {
      margin-top: 90px;
      .newsgroup {
        top: calc(50% - 210px / 2 + 1330px);
      }
      &-title {
        top: calc(50% - 250px / 2 + 1240px);
      }
    }
    .section-community {
      height: 40vh;
    }
  }
  @media only screen and (min-device-width: 500px) and (max-device-width: 749px){
    .menu-logo {
      margin-left: -30px;
    }
    .navbar-toggler {
      margin-right: 15%;
    }
    .button-pink{
      width: 65%;
      left: 18%;
    }
    .features {
      &-row {
        left: 20%;
      }
      &-title {
        left: 20%;         
      }
    }
    .team-row {
      left: calc(50% - 1.6rem/2 - 28.65625rem);
    }
    .newsbox {
      .newsgroup {
        left: 52px;
      }
      &-title {
        top: calc(50% - 210px / 2 + 1300px);
        left: calc(50% - 204px / 2 + 200.5px);
      }
    }
    .faq {
      &-divider {
        width: 480px;        
      }
    }
    .community {
      &-title {
        width: 400px;
        left: calc(50% - 312px/2 - 80.5px);
      }
      &-subtitle {
        left: calc(50% - 305px/2 - 80.5px);
      }
      &-icons-row {
        width: 700px;
        top: calc(50% - 104px/2 - 260px);
        left: calc(50% - 305px/2 - 80.5px);
      }
      &-item {
        width: 145px;
      }
      &-image {
        position: absolute;
        width: 697.62px;
        height: 578px;
        left: calc(50% - 697.62px/2 - 24.5px);
        top: calc(50% - 578px/2 + 304px);
      }
  
      &-subscribe {
        &-title {
          position: absolute;
          width: 309px;
          height: 24px;
          left: calc(50% - 312px/2 - 80.5px);
          top: calc(50% - 24px/2 - 85px);
          font-size: 22px;
          line-height: 24px;
          letter-spacing: 0.3px;
        }
    
        &-input {
          width: 426px;
          left: calc(50% - 316px/2 - 1px);
          top: calc(50% - 24px/2 + 45px);
        }
    
        &-button {
          left: calc(50% - 305px/2 - 80.5px);
        }
    
      }
    
    }
  }
  @media only screen and (min-device-height: 950px)  {
    .governance {
      &-buttons {
        top: calc(50% - 60.75rem/2 + 6.1125rem);
      }
    }
    .newsbox {
      &-title {
        top: calc(50% - 210px / 2 + 1260px);        
      }
    }
  }
}
