@media only screen and (max-device-width: 600px) and (orientation: portrait) {

  .main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10rem 1rem !important;
    height: 100%;
    width: 100%;
  }

  .section-main {
    .cryptex-logo {
     width: 345px !important;
    }
  }  

  .card-text-why{
    font-size: 5rem;
    margin-top: 20% !important;
    line-height: 6rem; 
  }

  .navbar-brand {
    position: absolute;
  }

  .video{
    object-fit: fill;
    width: 100%;
    margin-left: 0px;
    height: 100% !important;
    margin-top: 0rem;
    padding-top: 1rem;
    overflow: hidden;

    &.desktop {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }

  .main-brand-text{
    font-family: 'Tachyon Regular';
    letter-spacing: 0.6rem;
    font-size: 2rem;
    color: #ffd7ff;
    -webkit-text-stroke: 2px #fb38fc;
    text-shadow: none !important;
  }

  .black-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .main-brand-text{
    font-size: 6rem !important;
    -webkit-text-stroke: 1px #fb38fc;
  }

  .main-title{
    text-align: center;
  }

  .home-subheader{
    text-align: center;
  }

  .section-solutions {
    .solutions {
      grid-template-columns: auto;
    }
  }

  .section-solutions .inline-helper {
    flex-direction: column;

  }

  .same-size-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    margin-bottom: 2rem !important;
    font-size: 3vw !important;
    height: 9rem !important;
    padding: 1.5rem 1rem !important;
  }

  .navbar,
  .navbar div {
    height: 49px;
    background: $color-black;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
    padding: 0%;
  }

  .nav-links a {
    z-index: 30;
    height: 100vh;
    background: $color-black;
    padding-top: 40px;
    padding-bottom: 37px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: $color-grey !important;

    &::first-child {
      margin-top: 60px;
    }

    &:not(:first-child) {
      padding-top: 44px;
    }

    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .nav-links-divisor {
    top: -3px;
    position: relative;
    width: 350px;
    height: 10px;
    line-height: 28px;
    background: $color-grey-dark !important;
    background-color: $color-grey-dark !important;
    z-index: 10;
    border: 1px solid #494866;
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: -2px;
    padding-top: -2px;
  }

  .responsive-app-button {
    position: fixed;
    width: 140px;
    margin-left: auto;
    background: transparent;
    padding-left: 30px;
  }

  .menu-logo {
    width: 30px;
    margin-left: -15px;

    &-divider {
      position: absolute;
      width: 1px;
      height: 49px;
      left: 60px;
      top: 0px;
      background-color: $color-grey-dark !important;
      z-index: 0;
    }
  }

  .menu-logo.tablet {
    display: None;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    margin-left: auto;
  }

  .navbar-toggler-icon{
    color: white;
    border-color: rgb(255,102,203);
    width: 42px;
    height: 42px;
  }

  .responsive-navbar-nav {
    background: $color-black;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus {
    position: relative;
  }

  .mobile_menu_bar:before {
    display: none;
  }
  .hamburger-icon-custom{
    height: 32px;
    width: 32px;
  }
  .mobile_menu_bar::after {
    font-size: 12px;
    font-family: $font-primary;
    content: "";
    position: relative;
    padding: 10px 20px 10px 20px;
    color: $color-dark-clean !important;
    text-decoration: none;
    &:focus {
      outline: none !important;
    }
  }
  .mobile_nav.opened .mobile_menu_bar:after {
    content: "";
  }

  .button-navbar {
    position: fixed;
    color: $color-grey;
    border: 0px solid $color-primary-pink;
    box-sizing: border-box;
    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .button-pink {
    position: relative;
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .button-dark {
    font-family: $font-primary;
    font-weight: normal;
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  h1, .header {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }

  .header {
    font-size: 22px;
    line-height: 36px;
  }
  .subheader {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
  .home-subheader {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
  }
  .subtitle {
    font-size: 17px;
    line-height: 22px;
  }
  .link {
    font-size: 3.2rem;
  }

  .label {
    display: none;
  }
  .label-mobile {
    display: block;
  }

  .number-pink, .number-blue {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.8px;
  }

  .solution-img {
    width: 100%;
    height: auto;
  }

  .prices {
    flex-direction: column;
  }
  .market-cap-box {
    width: 100%;
  }
  .price-box {
    width: 100%;
    justify-content: left;
    margin-top: 4.5rem;
    padding-left: 0rem;
    .coin-icon {
      height: 9.3rem;
      width: 9.3rem;
      margin-left: 15px;
      margin-top: 0px;
    }
  }
  .vl-divider {
    display: none;
  }

  .section-main {
    padding: 8rem 1rem 2rem 1rem;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 6rem;
    overflow-x: hidden;
    .col-sm-12, .col-md-8, .col-lg-8  {
      padding-left: 0px;
      padding-right: 0px;
    }
    .main {
      &-container {
        padding: 4rem 3rem;
        .subheader {
          padding: 1rem 0rem;
          text-align: justify;
        }
      }
      &-title {
        padding: 5rem 0rem;
        h3 {
          font-size: 21px;
        }
      }
      &-info {
        width: 100%;
      }
      &-buttons {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        &-actions {
          display: flex;
          width: 100%;
        }
      }
      &-button {
        width: 100%;
        height: 12rem;
        font-size: 16px;
      }
    }
    .button-to-app {
      width: 100%;
      margin-right: 1rem;
    }
    .button-learn-more {
      display: none;
      // justify-content: flex-end;
      // width: 100%;
    }
  }

  .section-solutions {
    height: auto;
    margin: 0rem 1rem 17rem 1rem;
    padding: 0rem 5rem 15rem 5rem;

    .header {
      align-self: start;
      margin: 2rem;
    }
    .subheader {
      text-align: justify;
      width: 100%;
    }
    .solution-img-container {
      margin-top: 6rem;
    }
    .solutions {
      grid-template-columns: auto;
      margin-top: 2rem;
      margin-bottom: 4rem;
      &-info  {
        margin-top: 2rem;
        margin-bottom: 5rem;
      }
      .index-prices {
        margin-top: 7.5rem;
      }
      &-item {
        height: 120rem;
        width: 100%;
        margin-top: 6rem;

        .terciary-header {
          margin-top: 1rem;
        }
        .subtitle {
          margin-top: 5rem;
        }
      }
      .learn-more-link {
        font-size: 15px;
      }
    }
  }

  .section-governance {
    flex-direction: column;
    padding: 20rem 2rem;
    margin: 0rem 3rem 20rem 1rem;
    height: 100%;
    .box {
      margin: 1rem;
      padding: 5rem 3rem;
    }
    .header {
      font-size: 18px;
    }
    .subtitle {
      margin-top: 2rem;
    }
    .governance-header {
      .ctx-icon {
        height: 50px;
        width: 50px;
        margin-top: 0px;
      }
    }
    .governance {
      &-content {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
      }
      &-main {
        width: 100%;
        height: 80vh;

        .icons {
          padding: 1.3rem 0rem;
        }
        .prices {
          padding-top: 3rem;
          flex-direction: column;
        }
      }
      &-icon {
        width: 32px;
        height: 32px;
        margin-right: 18px;

        &.dfp {
          width: 30px;
          height: 30px;
        }
        &.gemini {
          width: 30px;
          height: 30px;
        }
      }
      &-detail {
        height: 150rem;
        width: 100%;
        margin-top: 10rem;
        .box {
          margin: 3rem  2rem;
          padding: 5rem;
        }
        .price-box {
          margin-left: 2rem;
        }
      }
    }
  }

  .main-buttons{
    display: flex;
    flex-direction: column;
  }

  .main-button{
    margin-bottom: 2rem;
  }

  .main-buttons-actions{
    flex-direction: column;
  }

  .section-protocol {
    height: 100%;
    margin: 0rem 0rem 13rem 0rem;
    padding: 15rem 5rem;
    align-items: center;

    .header {
      align-self: start;
      margin: 2rem;
    }

    .items {
      flex-direction: column;
      margin-top: 0rem;
      margin-bottom: 4rem;

      &-info {
        margin-top: 2rem;
      }

      .item {
        height: 85rem;
        width: 100%;
        margin-top: 6rem;

        .terciary-header {
          margin-top: 1rem;
        }

        .subtitle {
          margin-top: 5rem;
          text-align: left;
          font-size: 16px;
        }
      }
      .safety-logo {
        height: 110px;
        margin-top: 3rem;
      }
    }
  }

  .section-ecosystem {
    flex-direction: column;
    margin: 15rem 1rem;
    padding: 15rem 4rem;
    height: auto;

    .box {
      width: 100%;
    }
    .ecosystem-content {
      display: grid;
      grid-template-columns: 100%;
      row-gap: 8rem;
      margin-top: 8rem;
    }
    .main {
      height: 145rem;
      .subscribe {
        &-data {
          flex-direction: column;
          padding: 4rem 0;
        }
        &-input {
          font-size: 16px;
          height: 54px;
          line-height: 14px;
          padding: 24px;
          width: 100%;
        }
        &-button {
          height: 54px;
          width: 100%;
          font-size: 16px;
        }
      }
    }
    .sewagefruit {
      height: 95rem;
      img {
        margin: 10rem 0rem;
      }
    }
    .carousel {
      margin: 10rem 0rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      height: 85rem;
      width: 100%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 50rem;
    padding: 10rem 8rem;
    height: auto;

    &-info {
      width: 100%;
      .subtitle {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }
    }
    &-menu {
      width: 100%;
      flex-direction: column;
      margin-top: 12rem;
    }
  }

  .toggle {
    width: 120vw;
  }

  .toggle {
    .togglet,
    .toggleta {
      line-height: 28px;
    }
  }

  .form-control {
    height: 10rem;
  }

  .search-box {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    margin-left: 0rem;
    .search-icon {
      font-size: 4rem;
      margin-left: 2.5rem;
      z-index: 1;
    }
    .search-input {
      padding-left: 8rem;
      font-size: 4rem;
    }
  }

  .filter-box {
    display: flex;
    flex-direction: column;
  }

  .section-blogroll {
    .home {
      height: 55rem;

      .description {
        width: 95%;
      }
      .heading-secondary {
        margin: 3rem 0rem;
      }
    }
  }
  
  .blogroll {
    margin-top: 15rem;

    .posts {
      padding: 5rem 3rem;
      grid-template-columns: 100%;
      gap: 5rem;
    }
    .post-item {
      padding: 5rem 2rem;
      height: 110rem;

      &-image {
        height: 40rem;
      }
      &-content {
        padding: 4rem 1rem;

        .title {
          a {
            font-size: 4rem;
          }
        }
        .excerpt {
          p {
            font-size: 3.5rem;
          }
        }
        .tag-items {
          padding-bottom: 1rem;

          .post-tagbox {
            font-size: 2.7rem;
            padding: 2px 5px;
            margin-right: 9px;
          }
        }
      }
      &-link {
        font-size: 3.7rem;
      }
    }
  }

  @media only screen and (max-device-width: 390px) {
    .section-governance {
      .governance {
        &-icon {
          width: 31px;
          height: 31px;
          margin-right: 17px;
        }
      }
    }
  }

  @media only screen and (max-device-width: 375px) {
    .section-governance {
      .governance {
        &-icon {
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
      }
    }
  }

  @media only screen and (max-device-width: 370px) {
    .section-safety { 
      .items {
        .safety-logo {
          height: 95px;
          margin-top: 2rem;
        }
      }
    }
  }

}