@media only screen and (max-device-width: 390px) and (max-device-height: 990px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {

  .navbar,
  .navbar div {
    height: 49px;
    background: $color-black;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
    padding: 0%;
  }

  .nav-links a {
    z-index: 30;
    height: 100vh;
    background: $color-black;
    padding-top: 60px;
    padding-bottom: 44px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: $color-grey !important;

    &::first-child {
      margin-top: 60px;
    }

    &:not(:first-child) {
      padding-top: 44px;
    }

    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .nav-links-divisor {
    top: -3px;
    position: relative;
    width: 300px;
    height: 10px;
    line-height: 28px;
    background: $color-grey-dark !important;
    background-color: $color-grey-dark !important;
    z-index: 10;
    border: 1px solid #494866;
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: -2px;
    padding-top: -2px;
  }

  .responsive-app-button {
    position: fixed;
    width: 140px;
    margin-left: auto;
    background: $color-navbar-button;
    border: 1px solid $color-primary-pink;
    box-sizing: border-box;
    box-shadow: 0px 10px 49px -10px $shadow-navbar-button;
    padding-left: 30px;
  }

  .menu-logo {
    width: 30px;
    margin-left: -15px;

    &-divider {
      position: absolute;
      width: 1px;
      height: 49px;
      left: 50px;
      top: 0px;
      background-color: $color-grey-dark !important; 
      z-index: 0;
    }
  }

  .menu-logo.tablet {
    display: None;
  }
  
  .navbar-toggler,
  .navbar-toggler-icon {
    position: relative;
    left: -180px;
  }

  .responsive-navbar-nav {
    background: $color-black;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus {
    position: relative;
    padding: 10px 20px 10px 20px;
  }

  .mobile_menu_bar:before {
    display: none;
  }
  .mobile_menu_bar::after {
    font-size: 12px;
    font-family: $font-primary;
    content: "MENU";
    position: relative;
    padding: 10px 20px 10px 20px;
    color: $color-dark-clean !important;
    text-decoration: none;
    &:focus {
      outline: none !important;
    }
  }
  .mobile_nav.opened .mobile_menu_bar:after {
    content: "";
  }

  .button-navbar {
    position: fixed;
    color: $color-grey;
    border: 0px solid $color-primary-pink;
    box-sizing: border-box;
    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .main {
    &-title {
      width: 312px;
      height: 108px;
      top: calc(50% - 108px / 2 - 307px);
    }

    &-number-pink {
      position: absolute;
      width: 257px;
      height: 36px;
      left: calc(50% - 257px / 2 - 30px);
      top: calc(50% - 36px / 2 - 181px);

      font-size: 18px;
      line-height: 36px;

      display: flex;
      align-items: center;
    }

    &-bold-text {
      width: 342px;
      height: 22px;
      left: calc(50% - 312px / 2 - 2.5px);
      top: calc(50% - 22px / 2 - 146px);
      font-size: 14px;
      line-height: 22px;
    }

    &-divider {
      background: transparent !important;
    }

    &-number-blue {
      width: 312px;
      height: 22px;
      left: calc(50% - 312px / 2 - 2.5px);
      top: calc(50% - 22px / 2 - 76px);
      font-size: 18px;
      line-height: 36px;
    }

    &-tcap {
      width: 87px;
      height: 82px;
      left: calc(50% - 30px / 2 - 140.7px);
      top: calc(50% - 22px / 2 - 69.55px);

      &-image {
        width: 30px;
      }

      &-text {
        font-size: 14px;
        line-height: 37px;
      }
    }

    &-button-link {
      z-index: 20;
      text-decoration: none;
      text-align: center;
      &:hover {
        color: $color-white !important;
        text-decoration: none;
      }
      &:focus {
        outline: none !important;
      }
    }
  }

  .button-pink {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 19px 47px;
    position: absolute;
    width: 85%;
    height: 54px;
    left: 28px;
    top: calc(50% - 54px / 2 + 50.55px);
    font-size: 14px;
    line-height: 16px;
  }

  .about {
    &-title {
      position: absolute;
      width: 312px;
      height: 36px;
      left: calc(50% - 312px / 2 - 1.5px);
      top: calc(50% - 36px / 2 - 405px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-content {
      width: 315px;
      height: 247px;
      left: calc(50% - 315px / 2);
      top: calc(50% - 247px / 2 - 225.5px);
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }

    &-image {
      position: absolute;
      width: 380px;
      height: 391.27px;
      left: calc(50% - 380px / 2);
      top: calc(50% - 391.27px / 2 + 228px);
    }

    &-details {
      position: absolute;
      width: 315px;
      height: 353px;
      left: calc(50% - 495.31px / 2 + 92px);
      top: calc(50% - 508.6px / 2 + 128px);

      &-divisor {
        position: absolute;
        width: 310px;
        height: 1px;
        background: #494866;
      }

      &-icons {
        margin-right: 24px;
        // background: transparent;
        // text-shadow: 0rem 0rem 0.156565rem #6450FB, 0rem 0rem 0.13011875rem #3626B0;
        // filter: drop-shadow(0 0 0.25rem #6450FB);
      }

      &-text {
        // left: calc(50% - 9.625rem/2 + 26.9375rem);
        // top: calc(50% - 1.5rem/2 - 9.625rem);
        // width: 139px;
        height: 72px;
        font-size: 18px;
        line-height: 24px;
        // display: flex;
        // letter-spacing: 0.3px;
      }
    }
  }

  .governance {
    &-title {
      position: absolute;
      width: 312px;
      height: 36px;
      left: calc(50% - 312px / 2 - 1.5px);
      top: calc(50% - 36px / 2 - 405px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-content {
      width: 315px;
      height: 247px;
      left: calc(50% - 315px / 2);
      top: calc(50% - 247px / 2 - 225.5px);
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }

    &-image {
      position: absolute;
      width: 380px;
      height: 391.27px;
      left: calc(50% - 380px / 2);
      top: calc(50% - 311.27px / 2 + 228px);
    }

    &-details {
      position: absolute;
      width: 315px;
      height: 353px;
      left: calc(50% - 495.31px / 2 + 92px);
      top: calc(50% - 308.6px / 2 + 128px);

      &-icons {
        margin-right: 24px;
      }

      &-text {
        height: 72px;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-buttons {
      top: calc(50% - 75.75rem/2 + 1.1125rem);
      width: 315px;
      left: calc(50% - 315px / 2);
    }
  }

  .features {
    display: block;
    position: relative;
    &-title {
      position: absolute;
      width: 312px;
      height: 36px;
      left: calc(50% - 312px / 2 - 1.5px);
      top: calc(50% - 36px / 2 - 444px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-row {
      position: absolute;
      width: 355px;
      // height: 403px;
      left: 50px;
      top: calc(50% - 36px / 2 - 364px);
    }

    &-icons {
      position: absolute;
      width: 82px;
      height: 74.25px;
      left: 6.94%;
      right: 6.94%;
      top: 10.5%;
      bottom: 12.16%;
    }

    &-subtitle {
      position: absolute;
      width: 65px;
      height: 24px;
      left: calc(50% - 65px / 2 - 86px);
      top: calc(50% - 24px / 2 - 18px);
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.3px;
    }

    &-content {
      position: absolute;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
      width: 243px;
      height: 132px;
      left: calc(50% - 243px / 2);
      top: calc(50% - 132px / 2 + 90px);
    }

    &-box {
      &-mint {
        position: relative;
        width: 300px;
        height: 300px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-green-neon,
          0px 0px 34px $shadow-green-neon-second;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
      &-trade {
        position: relative;
        width: 300px;
        height: 300px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-orange-neon,
          0px 0px 34px $shadow-orange-neon-second;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
      &-pool {
        position: relative;
        width: 300px;
        height: 300px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-blue-neon,
          0px 0px 34px $shadow-blue-neon-second;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
      &-farm {
        position: relative;
        width: 300px;
        height: 300px;
        background: #111131;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px $shadow-purple-neon,
          0px 0px 34px $shadow-purple-neon-secondary;
        border-radius: 4px;
        .features-content {
          color: $color-grey;
        }
        .features-subtitle {
          text-decoration: none;
          &:hover {
            color: $color-dark-clean;
          }
        }
        margin-bottom: 20px;
      }
    }
  }

  .team {
    position: relative;
    &-title {
      position: absolute;
      width: 312px;
      height: 36px;
      left: calc(50% - 312px / 2 - 7.5px);
      top: calc(50% - 36px / 2 - 447px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-subtitle {
      position: absolute;
      width: 305px;
      height: 44px;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
      left: calc(50% - 305px / 2 - 11px);
      top: calc(50% - 44px / 2 - 361px);
    }

    &-divider {
      background: transparent;
    }
  }

  .header {
    font-size: 22px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  .team-row {
    position: absolute;
    width: 100%;
    top: calc(50% - 166px / 2 - 203.7px);
  }

  .team-box {
    position: relative;
    width: 325px;
    height: 231px;
    left: 10px;

    &-photo-mobile {
      position: relative;
      text-align: center;
      width: 315px;
      height: 161px;
      border-radius: 0.125rem;
    }
    &-name {
      width: 211px;
      height: 22px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.3px;
    }
    &-position {
      width: 220px;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.2px;
    }

    &-description {
      position: absolute;
      width: 315px;
      height: 225px;
      border-radius: 2px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.2px;
      margin-top: 20px;
      // background-color: #212138;
    }
  }

  .flippy-back {
    background: $color-black !important;
    background-color: $color-black !important;
  }

  .newsbox {
    position: absolute;

    &-title {
      position: absolute;
      width: 304px;
      height: 24px;
      font-size: 22px;
      line-height: 24px;
      left: calc(50% - 204px / 2 + 140.5px);
      top: calc(50% - 300px / 2 + 1410px);
    }

    .newsgroup {
      position: absolute;
      left: 10px; 
      top: calc(50% - 370px / 2 + 1530px);
    }

    &-pagination {
      position: absolute;
      width: 60rem;
      margin-top: 12%;  

      &.one {
        margin-top: 79%;
      }
      &.two {
        margin-top: 45%;
      }
    }

    .newsitem {
      display: inline-table;
      z-index: 20;
      &.hide {
        display: None;
      }

      &-photo {
        width: 0;
        height: 0;
      }
      &-title {
        position: relative;
        width: 355px;
        height: 48px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin-bottom: 12px;
      }
      &-description {
        position: relative;
        width: 315px;
        height: 35px;
        font-size: 12px;
        line-height: 16px;
      }
      &-link {
        position: relative;
        width: 95.53px;
        height: 15.26px;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.6px;
      }

      &-tag-items {
        margin-top: 12px;
        margin-bottom: 12px;
      }

      &-tagbox {
        position: relative;
        color: $color-dark-clean;
        background-color: $color-black;
        border: 1px solid $shadow-purple-neon;
        margin: 0px 20px 20px 0px;
        line-height: 30px;
        padding: 2px 0 2px 2px;
        // margin-top: 12px;
        // margin-bottom: 24px;
      }
      .taglink {
        font-size: 16px;
        padding: 2px;
      }

      .tagbox a,
      .tagbox a:visited,
      .tagbox a:active {
        text-decoration: none;
      }

      &:not(:last-child) {
        padding-bottom: 3rem !important;
        // padding-left: 2rem !important;
      }
    }
  }

  .faq {
    &-row {
      position: absolute;
      width: 100%;
      left: 40px;
      top: calc(50% - 200px / 2 - 16px);
    }

    &-title {
      width: 312px;
      height: 36px;
      left: calc(50% - 312px / 2 - 7.5px);
      top: calc(50% - 36px / 2 - 206px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-subtitle {
      width: 305px;
      height: 22px;
      left: calc(50% - 305px / 2 - 11px);
      top: calc(50% - 60px / 2 - 151px);
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
    }

    &-divider {
      width: 315px;
      height: 1px;
      margin-top: 16px;
      margin-bottom: 32px;
    }
  }

  .toggle {
    width: 120vw;
    height: auto;
  }

  .toggle {
    .togglet,
    .toggleta {
      line-height: 28px;
    }
  }

  .question {
    width: 290px;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 12px;
  }

  .answer {
    width: 315px;
    height: auto;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
  }

  .plus {
    position: relative;
    width: 10.83px;
    height: 14px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: -40px;
    left: calc(50% - 1rem/2 + 19.9rem);
  }

  .community {
    &-title {
      width: 312px;
      height: 72px;
      left: calc(50% - 312px / 2 - 1.5px);
      top: calc(50% - 72px / 2 - 508px);
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.3px;
    }

    &-subtitle {
      width: 305px;
      height: 88px;
      left: calc(50% - 305px / 2 - 5px);
      top: calc(50% - 88px / 2 - 401px);
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
    }

    &-icons-row {
      position: absolute;
      width: 223px;
      height: 42px;
      left: 50px; //calc(50% - 375px/2 - 208.6px);
      top: calc(50% - 104px / 2 - 315px);
    }

    &-item {
      width: 250px;
      &-icon {
        width: 82px;
        height: 82px;
        float: left;
        margin-left: -42.76px;
      }

      &-text {
        width: 63px;
        height: 75px;
        margin-left: -16px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.3px;
      }
    }

    &-image {
      position: absolute;
      width: 400px;
      height: auto; //578px;
      left: calc(50% - 400px / 2);
      top: calc(50% - 578px / 2 + 384px);
    }

    &-subscribe {
      &-title {
        position: absolute;
        width: 309px;
        height: 24px;
        left: calc(50% - 209px / 2 - 53px);
        top: calc(50% - 24px / 2 - 85px);
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.3px;
      }

      &-input {
        position: absolute;
        width: 316px;
        height: 54px;
        font-size: 12px;
        left: calc(50% - 316px / 2);
        top: calc(50% - 24px / 2 + 45px);
        border: 1px solid $color-grey;
        box-sizing: border-box;
        border-radius: 1px;
        line-height: 14px;
        padding: 24px 24px;
      }

      &-button {
        position: absolute;
        width: 316px;
        height: 54px;
        left: calc(50% - 316px / 2 - 3px);
        top: calc(50% - 24px / 2 + 25px);
      }
    }
  }

  .section-main {
    position: relative;
    height: 140vh;
    margin-bottom: 25vh;

    .main-image {
      position: absolute;
      width: 470px;
      height: 465.94px;
      left: calc(50% - 470px / 2);
      top: calc(50% - 465.94px / 2 + 168px);
    }
  }

  .section-about {
    height: 150vh;
    margin-bottom: 43vh;
    position: relative;
  }

  .section-features {
    height: 160vh;
    position: relative;
    margin-bottom: 73vh;
  }

  .section-governance {
    height: 160vh;
    margin-bottom: 40vh;
  }

  .section-team {
    margin-top: 140px;
    height: 160vh;
    margin-bottom: 140vh;
    position: relative;
  }

  .section-faq {
    z-index: 10;
    height: 100vh;
    margin-top: 70vh;
    margin-bottom: 40vh;
    position: relative;
  }
  .section-faq.expand1{
    margin-bottom: 65vh;
  }
  .section-faq.expand2{
    margin-bottom: 95vh;
  }
  .section-faq.expand4{
    margin-bottom: 140vh;
  }
  .section-faq.expand6{
    margin-bottom: 165vh;
  }

  .section-community {
    height: 150vh;
    position: relative;
  }


  @media only screen and (min-device-width: 375px) {
    .faq{
      &-divider {
        width: 330px;        
      }
    }
  }
  @media only screen and (max-device-height: 599px)  {
    .section-main {
      height: 150vh;      
    }
    .section-features {
      height: 220vh;      
    }
    .section-faq {
      margin-top: 80vh;
    }
    .section-community {
      height: 90vh;
    }
  }
  @media only screen and (min-device-height: 710px) and (max-device-height: 790px)  {
    .section-main {
      height: 120vh;
      margin-bottom: 23vh;
    }   
    .section-about {
      height: 130vh;
      margin-bottom: 30vh;
    }  
    .section-features {
      height: 140vh;
      margin-bottom: 65vh;
    }  
    .section-governance {
      height: 130vh;      
    }
    .section-team {
      margin-top: 0px;
      height: 130vh;
      margin-bottom: 110vh;
    }   
    .newsbox {
      &-title {        
        top: calc(50% - 120px / 2 + 1300px);
      }
      .newsgroup {
        top: calc(50% - 180px / 2 + 1390px);
      }
    } 
    .section-faq {
      height: 110vh
    }
    .section-community {
      height: 130vh;
    }
    @media only screen and (min-device-height: 750px){
      .section-faq {
        height: 90vh
      }
      .section-community {
        height: 130vh;
      }
    }
  } 
  @media only screen and (min-device-height: 791px) and (max-device-height: 860px)  {
    .section-main {
      height: 110vh;
      margin-bottom: 20vh;
    }   
    .section-about {
      height: 120vh;
      margin-bottom: 25vh;
    }  
    .section-features {
      height: 130vh;  
      margin-bottom: 53vh;
    }  
    .section-governance {
      height: 130vh;
      margin-bottom: 28vh;
    }  
     
    .section-team {
      margin-top: 0px;
      height: 130vh;
      margin-bottom: 100vh;
    } 
    .newsbox {
      &-title {        
        top: calc(50% - 200px / 2 + 1370px);
      }
      .newsgroup {
        top: calc(50% - 250px / 2 + 1490px);
      }
    } 
    .section-faq {
      height: 100vh
    }
    .section-community {
      height: 100vh;
    }
    @media only screen and (min-device-height: 840px){
      .section-faq {
        height: 80vh
      }      
    }
  }
  @media only screen and (min-device-height: 861px) {
    .section-main {
      height: 90vh;
    }   
    .section-about {
      height: 110vh;
    }     
    .section-governance {
      height: 110vh;
    }  
    .section-features {
      height: 145vh;  
    } 
    .section-team {
      height: 195vh;
    } 
    .newsbox {
      &-title {        
        top: calc(50% - 200px / 2 + 1750px);
      }
      .newsgroup {
        top: calc(50% - 250px / 2 + 1856px);
      }
    } 
    .section-faq {
      height: 160vh
    }
    .section-community {
      height: 90vh;
    }
  }

}
