@media only screen and (max-device-width: 600px) and (orientation: portrait) {

  .nav-default {
    display: none;
  }

  .spinner-border {
    --bs-spinner-width: 7rem;
    --bs-spinner-height: 7rem;
  }

  .nav-tabs {
    .nav-item {
      width: fit-content;
      min-width: 30rem;
    }
    .nav-link {
      width: 100%;
    }
  }

  .accordion-item {
   margin-bottom: 2rem;  
  }

  .accordion-button,
  .accordion-button:not(.collapsed) {
    height: 8rem;
    padding: 5.5rem 2rem;
    border-radius: 5px;
    h6 {
      font-size: 4rem;
      margin-bottom: 0rem;
    }
  }

  .accordion-button::after,
  .accordion-button:not(.collapsed)::after {
    background-size: 3rem;
    height: 3rem;
    width: 3rem;
  }

  .accordion-body {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0rem;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0rem 1rem 6rem 1rem !important;
    height: 100%;
    width: 100%;
  }

  .section-main {
    .cryptex-logo {
     width: 345px !important;
    }
  }  

  .card-text-why{
    font-size: 5rem;
    margin-top: 20% !important;
    line-height: 6rem; 
  }

  .video, .bgvid{
    display: block;
    object-fit: fill;
    width: 240%;
    top: 0px;
    margin-left: -122%;
    max-height: 100vh;
    height: 110vh !important;
    margin-top: -4rem;
    //width: 100%;
    //margin-left: 0px;
    //height: 100% !important;
    margin-top: 0rem;
    padding-top: 0rem;
    overflow: hidden;
  }

  .main-brand-text{
    font-family: 'Tachyon Regular';
    letter-spacing: 0.6rem;
    font-size: 2rem;
    color: #ffd7ff;
    -webkit-text-stroke: 2px #fb38fc;
    text-shadow: none !important;
  }

  .black-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .main-brand-text{
    font-size: 6rem !important;
    -webkit-text-stroke: 1px #fb38fc;
  }

  .main-title{
    text-align: center;
  }

  .home-subheader{
    text-align: center;
  }

  .same-size-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    margin-bottom: 2rem !important;
    font-size: 3vw !important;
    height: 9rem !important;
    padding: 1.5rem 1rem !important;
  }

  .navbar,
  .navbar div {
    height: 60px;
    background: $color-navbar-button;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
    padding: 0%;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-right {
    display: flex;
    flex-direction: row;
    height: 98% !important;
  }
  .nav-links a {
    z-index: 30;
    background: $color-navbar-button;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: $color-grey !important;

    &::first-child {
      margin-top: 140px;
    }

    &:not(:first-child) {
      padding-top: 40px;
    }

    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .nav-links-divisor {
    top: -3px;
    position: relative;
    width: 350px;
    height: 10px;
    line-height: 28px;
    background: $color-grey-dark !important;
    background-color: $color-grey-dark !important;
    z-index: 10;
    border: 1px solid #494866;
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: -2px;
    padding-top: -2px;
  }

  .responsive-app-button {
    position: fixed;
    width: 140px;
    margin-left: auto;
    background: transparent;
    padding-left: 30px;
  }

  .menu-logo {
    width: 30px;
    margin-left: -15px;

    &-divider {
      position: absolute;
      width: 1px;
      height: 49px;
      left: 60px;
      top: 0px;
      background-color: $color-grey-dark !important;
      z-index: 0;
    }
  }

  .menu-logo.tablet {
    display: None;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    margin-left: auto;
  }

  .navbar-toggler-icon{
    color: white;
    border-color: rgb(255,102,203);
    width: 42px;
    height: 42px;
  }

  .responsive-navbar-nav {
    background: $color-black;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus {
    position: relative;
  }
  .mobile_menu_bar {
    margin-right: 1rem;
  }
  .mobile_menu_bar:before {
    display: none;
  }
  .hamburger-icon-custom{
    height: 32px;
    width: 32px;
  }
  .mobile_menu_bar::after {
    display: none;
    font-size: 12px;
    font-family: $font-primary;
    position: relative;
    padding: 10px 20px 10px 20px;
    color: $color-dark-clean !important;
    text-decoration: none;
    &:focus {
      outline: none !important;
    }
  }
  .mobile_nav.opened .mobile_menu_bar:after {
    content: "";
  }

  .button-navbar {
    position: fixed;
    color: $color-grey;
    border: 0px solid $color-primary-pink;
    box-sizing: border-box;
    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .button-pink {
    position: relative;
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .button-dark {
    font-family: $font-primary;
    font-weight: normal;
    width: 95%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .language-dropdown {
    margin-right: 10px;
    height: 98% !important;
    .dropdown-toggle {
      border: none;
      background-color: transparent;
    }
    .dropdown-menu {
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      width: 140px;
      margin-left: -105px;
      margin-top: -5px;
    }
    .dropdown-item {
      height: 37px;
    }
  }

  h1, .header {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
    font-size: 30px;
  }

  li {
    font-size: 3.5rem;
  }

  .header {
    font-size: 22px;
    line-height: 36px;
  }
  .subheader {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
  .home-subheader {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
  }
  .subtitle {
    font-size: 17px;
    line-height: 22px;
  }
  .link {
    font-size: 3.2rem;
  }

  .label {
    display: none;
  }
  .label-mobile {
    display: block;
  }

  .number-pink, .number-blue {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.8px;
  }

  .solution-img {
    width: 100%;
    height: auto;
  }

  .prices {
    flex-direction: column;
  }
  .market-cap-box {
    width: 100%;
  }
  .price-box {
    width: 100%;
    justify-content: left;
    margin-top: 4.5rem;
    padding-left: 0rem;
    .coin-icon {
      height: 9.3rem;
      width: 9.3rem;
      margin-left: 15px;
      margin-top: 0px;
    }
  }
  .vl-divider {
    display: none;
  }

  .section-main {
    padding: 0rem 1rem 2rem 1rem;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 0rem;
    overflow-x: hidden;
    .col-sm-12, .col-md-8, .col-lg-8  {
      padding-left: 0px;
      padding-right: 0px;
    }
    .main {
      &-container {
        padding: 4rem 3rem;
        .subheader {
          padding: 1rem 0rem;
          text-align: justify;
        }
      }
      &-title {
        padding: 5rem 0rem;
        h3 {
          font-size: 21px;
        }
      }
      &-info {
        width: 100%;
      }
      &-buttons {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        &-actions {
          display: flex;
          width: 100%;
        }
      }
      &-button {
        width: 100%;
        height: 12rem;
        font-size: 16px;
      }
    }
    .button-to-app {
      width: 100%;
      margin-right: 1rem;
    }
    .button-learn-more {
      display: none;
      // justify-content: flex-end;
      // width: 100%;
    }
  }

  .section-products {
    padding-top: 15rem;

    .nav-tabs {
      overflow-x: scroll;
      flex-wrap: nowrap;
    }

    .nav-item {
      height: 12rem;
      width: fit-content;
      min-width: fit-content;
      padding: 0rem 2.5rem;
      
      .nav-link {
        height: 11.5rem;
      }
      .nav-link.active {
        border-bottom: 2px solid $shadow-purple-neon;
        // border-bottom-color: $shadow-purple-neon;
      }
    }

    .nav-link {
      font-size: 5rem;
    }

    span {
      font-size: 3.5rem !important;
      line-height: 3.8rem;
    }

    .products-loading {
      padding: 18rem 0rem;
    }

    .products {
      margin-top: 3rem;
      padding: 0.5rem 0rem;

      .products-info {
        display: none;
      }
    }
    .products-header { 
      display: none;
    }
    
    .product-info-card {
      padding: 2rem 1rem !important;
      border-color: rgba(164, 64, 242, 0.3);

      .product-info-title {
        font-size: 4rem !important;
        line-height: 4.5rem;
        margin-bottom: 2.2rem;
      }

      .product-info-totals { 
        margin-top: 5rem;
        padding-top: 4rem;
        padding-bottom: 3rem;

        .total-box-value {
          font-size: 5rem !important;
          margin-bottom: 2.5rem;
        }
        .total-box-title {
          font-size: 4rem !important;
        }
      }

      .highlight {
        font-size: 3.5rem !important;
        line-height: 4rem;
        margin-left: 1.3rem;
        margin-bottom: 1.3rem;
        width: 95%;
      }

      svg {
        width: 18px;
        height: 18px;
        margin-bottom: 1.2rem;
      }
    }

    .products-detail {
      height: 120rem;
      overflow-y: scroll;

      .h-separator {
        width: 95%;
        border-bottom: 0.5px solid #282834;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }
    }

    .products-totals {
      flex-direction: column;
      margin-top: 2rem;
      padding-left: 0rem;
      padding-right: 0rem;

      .total-box {
        width: 100%;
        padding: 2.5rem 2rem;
        margin-bottom: 1.5rem;
      }
    }

    .product {
      &-row {
        margin: 1.5rem 0rem;
        padding: 2rem 0rem;
        border: 0.5px solid #0e0e19;
        border-radius: 5px;
        flex-direction: column;
        background-color: rgba(33, 33, 56, 0.82);
        
        &.dark {
          background-color: #0e0e19;
          border: 0.5px solid rgba(33, 33, 56, 0.82);
        }
      }
      &-row-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 1.1rem 0rem;
        &.mobile-header {
          margin-bottom: 3.5rem;
        }

        &.indexes-header {
          padding-bottom: 1rem;
          margin-bottom: 2rem;
          padding-left: 1.5rem;
          // border-bottom: 0.5px solid #282834;
        }
      }
      &-logo {
        margin-right: 1rem;
        width: 38px;
        height: 38px;
      }
      &-title {
        font-size: 16px;
      }
      &-value {
        font-size: 16px !important;

        &.price {
          font-size: 24px;
        }
      }
      &-subvalue {
        font-size: 14px !important;
      }
    }

    .tcap-row {
      .tcap-item {
        padding-right: 15px;
      }
      .market-value {
        font-size: 15px;
      }
      .price {
        font-size: 24px;
      }
    }

    .indexes {
      .text-purple {
        font-size: 4.5rem;
        margin-top: 1rem;
      }
    }

    .vaults {
      .product-row-item {
        .margin-right {
          margin-right: 1rem;
        }
      }
    }

    .only-mobile {
      display: block;
      &.col-sm-12 {
        display: flex;
      }
    }
    .not-on-mobile {
      display: none;
    }
  }

  .section-governance {
    flex-direction: column;
    padding: 20rem 2rem;
    margin: 0rem 3rem 20rem 1rem;
    height: 100%;
    .box {
      margin: 1rem;
      padding: 5rem 2rem;
    }
    .header {
      font-size: 18px;
    }
    .subtitle {
      margin-top: 2rem;
    }
    .governance-header {
      .ctx-icon {
        height: 50px;
        width: 50px;
        margin-top: 0px;
      }
    }
    .governance {
      &-content {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
      }
      &-main {
        width: 100%;
        height: 80vh;

        .icons {
          padding: 1.3rem 0rem;
        }
        .prices {
          padding-top: 3rem;
          flex-direction: column;
        }
      }
      &-icon {
        width: 30px;
        height: 30px;
        margin-right: 14px;

        &.dfp {
          width: 30px;
          height: 30px;
        }
        &.huobi{
          width: 28px;
          height: 32px;
        }
        &.gemini {
          width: 30px;
          height: 30px;
        }
        &.trader-joe {
          width: 36px;
          height: 36px;
        }
      }
      &-detail {
        height: 150rem;
        width: 100%;
        margin-top: 10rem;
        .box {
          margin: 3rem  2rem;
          padding: 5rem;
        }
        .price-box {
          margin-left: 2rem;
        }
      }
    }
  }

  .main-buttons{
    display: flex;
    flex-direction: column;
  }

  .main-button{
    margin-bottom: 2rem;
  }

  .main-buttons-actions{
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 50rem;
    padding: 10rem 8rem;
    height: auto;

    &-info {
      width: 100%;
      .subtitle {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }
    }
    &-menu {
      width: 100%;
      flex-direction: column;
      margin-top: 12rem;
    }
  }

  .toggle {
    width: 120vw;
  }

  .toggle {
    .togglet,
    .toggleta {
      line-height: 28px;
    }
  }

  .form-control {
    height: 10rem;
  }

  .search-box {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    margin-left: 0rem;
    .search-icon {
      font-size: 4rem;
      margin-left: 2.5rem;
      z-index: 1;
    }
    .search-input {
      padding-left: 8rem;
      font-size: 4rem;
    }
  }

  .filter-box {
    display: flex;
    flex-direction: column;
  }

  .section-blogroll {
    .home {
      height: 55rem;

      .description {
        width: 95%;
      }
      .heading-secondary {
        margin: 3rem 0rem;
      }
    }
  }
  
  .blogroll {
    margin-top: 15rem;

    .posts {
      padding: 5rem 3rem;
      grid-template-columns: 100%;
      gap: 5rem;
    }
    .post-item {
      padding: 5rem 2rem;
      height: 110rem;

      &-image {
        height: 40rem;
      }
      &-content {
        padding: 4rem 1rem;

        .title {
          a {
            font-size: 4rem;
          }
        }
        .excerpt {
          p {
            font-size: 3.5rem;
          }
        }
        .tag-items {
          padding-bottom: 1rem;

          .post-tagbox {
            font-size: 2.7rem;
            padding: 2px 5px;
            margin-right: 9px;
          }
        }
      }
      &-link {
        font-size: 3.7rem;
      }
    }
  }

  @media only screen and (max-device-width: 395px) {
    .section-governance {
      padding: 20rem 1.7rem;

      .governance {
        &-main {
          padding-left: 1.8rem;
          padding-right: 1.8rem;
        }

        &-icon {
          width: 26px;
          height: 26px;
          margin-right: 14px;
          &.uniswap {
            width: 33px;
            height: 38px;
          }
          &.gemini {
            width: 28px;
            height: 28px;
          }
          &.huobi {
            width: 28px;
            height: 32px;
          }
          &.trader-joe {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }

  @media only screen and (max-device-width: 375px) {
    .section-governance {
      padding: 20rem 0.8rem;

      .governance {
        &-main {
          padding-left: 1.8rem;
          padding-right: 1.8rem;

          .info-top {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
          }
        }
        &-icon {
          width: 30px;
          height: 30px;
          margin-right: 13px;
        }
      }
    }
  }

}