@media only screen 
and (min-device-width : 601px) 
and (max-device-width : 1090px)
 {
  .nav-mobile {
    display: none;
  }
  .mobile_menu_bar {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 5rem;

    .navbar-collapse {
      display: flex;
      flex-direction: row;
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      padding-left: 2rem;
    }
    .nav-link {
      font-size: 1.8rem;
      padding-top: 0.75rem;
    }
    .button-navbar {
      width: 18rem;
      padding: 0.7rem;
      font-size: 1.5rem;
    }
  }

  .responsive-app-button {
    position: fixed;
    width: 240px;
    margin-left: auto; 
    background: $color-navbar-button;
		border: 1px solid $color-primary-pink;
		box-sizing: border-box;
    box-shadow: 0px 10px 49px -10px $shadow-navbar-button;
    padding-left: 80px;
  }

  h1, .header { 
    font-size: 3.5rem;
    line-height: 3.8rem;
  }
  h2, .heading-secondary {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  h2, .terciary-header {
    font-size: 2.7rem;
    line-height: 2.9rem;
  }

  .subheader {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  .home-subheader {
    width: 80%;
    font-size: 3rem;
    line-height: 3.3rem;
  }
  .subtitle {
    font-size: 2.3rem;
    line-height: 2.9rem;
  }
  .link {
    font-size: 2rem;
  }

  .label {
    display: none;
  }

  .label-mobile, .label-all {
    display: block;
    font-size: 18px;
    line-height: 22px;
  }

  .number-pink, .number-blue {
    font-size: 20px;
    line-height: 23px;
  }

  .number-span {
    font-size: 18px;
  }

  .box {
    padding: 5rem;
  }

  .price-box {
    .coin-icon {
      height: 6rem;
      width: 6rem;
      margin-top: 0px;
      margin-left: 7px;
    }
  }

  .section-main {
    position: relative;
    .main {
      &-container {
        padding: 3rem 4rem;        
      }
      &-info {
        width: 100%;
        padding: 4rem 1rem;
      }
      &-title {
        padding-bottom: 3rem;
      }
      &-button {
        width: 20rem;
        height: 5.5rem;
        font-size: 1.7rem;
      }
    }
  }

  .section-markets {
    .markets-totals {
      flex-direction: row;
      margin-top: 1rem;
      margin-bottom: 3rem;
  
      .total-box {
        width: 50%;
        padding: 2rem 1.8rem;
        margin-bottom: 0.7rem;
      }
    }

    .markets-header { 
      .market-title {
        font-size: 14px;
      }
    }
    .markets-detail {
      height: 50rem;
      overflow-y: scroll;

      .market-value {
        font-size: 12px;
      }

      .market-subvalue {
        font-size: 11px;
      }
    }

  }


  .section-governance {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 10rem;
    padding-top: 25rem;
    .box {
      padding: 5rem 3rem 2rem 3rem;
    }
    .governance {
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
      }
      &-main {
        width: 90%;
        height: 75rem;
        .subtitle {
          margin-top: 0rem;
        }
        .icons {
          padding: 2rem 0rem;
        }
        .prices {
          margin-top: 2rem;
          padding: 1rem 1.5rem;
        }
      }
      &-icon {
        margin-right: 25px;
      }
      &-detail {
        width: 90%;
        height: 80rem;
        margin: 10rem 0rem;

        .box {
          margin: 0px;
          padding: 2.5rem;
        }
        .subtitle {
          margin-top: 2rem;
        }
      }
    }
  }

  .footer {
    margin-top: 30rem;
    padding-top: 5rem;
    height: 50rem;
    &-info {
      width: 55%;
      .subtitle {
        margin: 20px 1px;
      }
    }
    &-menu {
      flex-direction: column;
      justify-content: flex-start;
      width: 45%;
      padding-left: 20%;

    }
  }

  .section-blogroll {
    .home {
      height: 35rem;
      .description {
        width: 80%;
      }
      .heading-secondary {
        margin: 2rem 0rem;
      }
    }
  }
  .blogroll {
    margin-top: 5rem;

    .posts { 
      padding: 4rem 3rem;
      grid-template-columns: 49% 49%;
    }
    .post-item {
      padding: 3rem 1rem;
      &-image {
        height: 20rem;
      }

      &-content {
        padding: 2rem 1rem;
        .title {
          a {
            font-size: 2rem;
          }
        }
        .excerpt {
          p {
            font-size: 2rem;
          }
        }
      }
      &-link {
        font-size: 2rem;
      }
    }
  }

  @media only screen  and (max-device-width : 850px) {
    .section-main {
      .main {
        &-button {
          width: 30rem;
          height: 10rem;
          font-size: 2.5rem;
        }
      }
    }
  }

}