@media only screen 
and (min-device-width : 601px) 
and (max-device-width : 1090px) 
and (orientation: portrait)
 {
  
  .navbar,
  .navbar div {
    height: 49px;
    background: $color-black;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
    padding: 0%;
  }

  .nav-links a {
    height: 100vh;
    background: $color-black;
    padding-top: 50px !important;
    padding-bottom: 50px;
    text-align:center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: $color-grey !important;

    &::first-child { 
      margin-top: 60px;
    }

    &:not(:first-child) { 
      padding-top: 74px;
    }

    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
  }

  .nav-links-divisor {
    top: -3px;
			position: relative;
			width: 680px;
      height: 10px;
      line-height: 28px;
      background: $color-grey-dark !important;
      background-color: $color-grey-dark !important;
      z-index: 10;
      border: 1px solid #494866;
      box-sizing: border-box;
      margin-left: 35px;
      margin-bottom: -2px;
      padding-top: -2px;
  }

  .responsive-app-button {
    position: fixed;
    width: 240px;
    margin-left: auto; 
    background: $color-navbar-button;
		border: 1px solid $color-primary-pink;
		box-sizing: border-box;
    box-shadow: 0px 10px 49px -10px $shadow-navbar-button;
    padding-left: 80px;
  }

  .menu-logo.tablet {
    display: block;
  }

  .menu-logo {
    width: 120px;
    margin-left: 5px;

    &-divider {
      position: absolute;
      width: 1px;
      height: 49px;
      left: 240px;
      top: 0px;
      background-color: $color-grey-dark !important;
      z-index: 0;
    }
  }

  .menu-logo.mobile {
    display: None;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    position: relative;
    left: -330px;
  }

  .responsive-navbar-nav {
    background: $color-black;
  }
  .navbar-toggler:hover, .navbar-toggler:focus {
    position: relative;
    padding: 10px 20px 10px 20px;
  }

  .mobile_menu_bar:before {
    display:none;
  }
  .mobile_menu_bar::after {
    font-size: 12px;
    font-family: $font-primary;
    content: "MENU";
    position: relative;
    padding: 10px 20px 10px 20px;
    color: $color-dark-clean!important;
    text-decoration: none;
    &:focus {
			outline:none !important;
		}
  }
  .mobile_nav.opened .mobile_menu_bar:after {
    content: "";
  }
  .button-navbar {
    position: fixed;
    color: $color-grey;
		border: 0px solid $color-primary-pink;
    box-sizing: border-box;
    &:hover {
      color: $color-dark-clean !important;
      text-decoration: none;
    }
	}

  h1, .header { 
    font-size: 3.5rem;
    line-height: 3.8rem;
  }
  h2, .heading-secondary {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  h2, .terciary-header {
    font-size: 2.7rem;
    line-height: 2.9rem;
  }

  .subheader {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  .home-subheader {
    width: 80%;
    font-size: 3rem;
    line-height: 3.3rem;
  }
  .subtitle {
    font-size: 2.3rem;
    line-height: 2.9rem;
  }
  .link {
    font-size: 2rem;
  }

  .label {
    display: none;
  }

  .label-mobile {
    display: block;
    font-size: 18px;
    line-height: 22px;
  }

  .number-pink, .number-blue {
    font-size: 20px;
    line-height: 23px;
  }

  .number-span {
    font-size: 18px;
  }

  /* .solution-img {
    width: 52rem;
    height: 31rem;
  } */

  .box {
    padding: 5rem;
  }

  .price-box {
    .coin-icon {
      height: 6rem;
      width: 6rem;
      margin-top: 0px;
      margin-left: 7px;
    }
  }

  .section-main {
    position: relative;
    .main {
      &-container {
        padding: 3rem 4rem;        
      }
      &-info {
        width: 100%;
        padding: 4rem 1rem;
      }
      &-title {
        padding-bottom: 3rem;
      }
      &-button {
        width: 20rem;
        height: 5.5rem;
        font-size: 1.7rem;
      }
    }
  }

  .section-solutions {
    margin-top: 10rem;
    padding-top: 15rem;

    .header {
      margin-bottom: 3rem;
    }
    .solution-img-container {
      margin-top: 2rem;
    }

    .solutions {
      display: flex;
      flex-direction: column;
      align-items: center;  
      
      &-item {
        height: 60rem;
        width: 85%;
        .subtitle {
          margin-top: 3rem;
        }
      }
    }
  }

  .section-governance {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 10rem;
    padding-top: 25rem;
    .box {
      padding: 5rem 3rem 2rem 3rem;
    }
    .governance {
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
      }
      &-main {
        width: 90%;
        height: 75rem;
        .subtitle {
          margin-top: 0rem;
        }
        .icons {
          padding: 2rem 0rem;
        }
        .prices {
          margin-top: 2rem;
          padding: 1rem 1.5rem;
        }
      }
      &-icon {
        margin-right: 25px;
      }
      &-detail {
        width: 90%;
        height: 80rem;
        margin: 10rem 0rem;

        .box {
          margin: 0px;
          padding: 2.5rem;
        }
        .subtitle {
          margin-top: 2rem;
        }
      }
    }
  }

  .section-protocol {
    height: auto;
    margin: 10rem 1rem;
    padding: 15rem 5rem;

    .subheader {
      width: 90%;
      margin-top: 2rem;
    }
    .items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      .item {
        height: 50rem;
        width: 100%;
        margin: 4rem 2rem;
        .subtitle {
          margin-top: 1.5rem;
        }
      }
      .safety-logo {
        margin-top: 5rem;
        height: 130px;
      }
    } 
  }

  .section-ecosystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10rem 2rem;

    .box {
      width: 90%;
    }
    .main {
      height: 65rem; 
      .subtitle {
        margin-top: 3rem;
      }
      .subscribe {
        &-input {
          width: 70%;
          height: 6rem;
          font-size: 2.1rem;
        }
        &-button {
          width: 30%;
          height: 6rem;
          font-size: 2.1rem;
        }
      }
    }
    .carousel {
      margin: 5rem 0rem;
      width: 90%;
      height: 65rem;
    }
  }

  .footer {
    margin-top: 20rem;
    padding-top: 5rem;
    height: 50rem;
    &-info {
      width: 55%;
      .subtitle {
        margin: 20px 1px;
      }
    }
    &-menu {
      flex-direction: column;
      justify-content: flex-start;
      width: 45%;
      padding-left: 20%;

    }
  }

  .section-blogroll {
    .home {
      height: 35rem;
      .description {
        width: 80%;
      }
      .heading-secondary {
        margin: 2rem 0rem;
      }
    }
  }
  .blogroll {
    margin-top: 5rem;

    .posts { 
      padding: 4rem 3rem;
      grid-template-columns: 49% 49%;
    }
    .post-item {
      padding: 3rem 1rem;
      &-image {
        height: 20rem;
      }

      &-content {
        padding: 2rem 1rem;
        .title {
          a {
            font-size: 2rem;
          }
        }
        .excerpt {
          p {
            font-size: 2rem;
          }
        }
      }
      &-link {
        font-size: 2rem;
      }
    }
  }

  @media only screen  and (max-device-width : 850px) {
    .section-main {
      .main {
        &-button {
          width: 30rem;
          height: 10rem;
          font-size: 2.5rem;
        }
      }
    }
    .section-solutions {
      margin-top: 20rem;
      padding-top: 10rem;
      height: auto;
    }
  }

}