*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // font-size: 62.5%;
  font-size: 1.1vw;  
}

body {
  box-sizing: border-box;
  background-color: black;
}


@media only screen and (max-device-width: 1023px) {
  .nav-default {
    display: None;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1090px) {
  .nav-default {
    display: None;
  }
}

@media only screen and (min-device-width: 1091px) {
  .nav-mobile {
    display: None;
  }
}