
// Main Website

h1, h2, h3, h4, h5, h6, span, p, li {
  color: $color-dark-clean;
  font-family: $font-primary;
}

h1, .header {
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  color: $color-dark-clean;
  text-transform: capitalize;
  font-size: 1.75rem;
  line-height: 3rem;
}
h2, .heading-secondary { 
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}
h3, .terciary-header { 
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: 0.3px;
  text-align: left;
}
h4 {
  font-size: 1.6rem;
}
p {
  font-size: 1.01rem;
}
.font-size-1 {
  font-size: 1.25rem;
}

.accordion-button, .accordion-button:not(.collapsed) {
  background-color: $color-blackground;
  border: none;
  border: 0.5px solid $color-primary-purple;
  border-color: #a540f263;
  border-radius: 5px;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #a540f27a;
}

.accordion-button::after {
  background-image: url("../../static/website/chevron-down.svg");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../../static/website/chevron-down.svg");
}

.accordion-item {
  background-color: $color-blackground;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}


.no-margin {
  margin: 0;
}

span {
  font-size: 0.8rem;
}

.number {
  color: $color-grey-light;
}

.nav-tabs {
  border-bottom: 1px solid $color-black;

  .nav-item, .nav-link {
    color: $color-grey-light;
    background-color: $color-blackground;
    width: 12rem;
    font-size: 24px;
  }
  .nav-link {
    border-bottom-color: $color-black;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .nav-link:hover {
    border-color: $color-blackground;
    border-bottom-color: rgba(165, 64, 242, 0.5);
  }
  .nav-link.active {
    color: $color-white;
    background-color: $color-blackground;
    border-color: $color-blackground;
    border-bottom-color: $shadow-purple-neon;
  }
}

.header {
  display: flex;
  align-items: center;
  text-align: left !important;
  color: $color-dark-clean;
}

.heading-secondary {
  display: flex;
  align-items: center;
  color: $color-dark-clean;
  text-align: left;
  @media only screen and (max-device-width: 600px) {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}

.terciary-header {
  color: $color-dark-clean;
  text-align: left;
  @media only screen and (max-device-width: 1330px) {
    font-size: 1.2rem;
  }
  @media only screen and (max-device-width: 600px) {
    font-size: 20px;
    line-height: 22px;
  }
}

.subheader {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.375rem;
  letter-spacing: 0.5px;
  color: $color-grey-light;
  text-align: left;
  @media (max-width: 1300px) {
    font-size: 1.3rem;
  }
}

.home-subheader {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.8px;
  color: #e2e1ee;
  text-align: left;
  width: 47%;
  margin-top: 0.65rem;

  @media (max-width: 1300px) {
    font-size: 1.5rem;
  }
}

.neon-green{
  color: #20F433
}

.text-purple {
  color: $color-primary-purple !important;
}

.text-green {
  color: $shadow-green-neon !important;
}

.text-red {
  color: red !important;
}

.text-grey {
  color: $color-grey !important;
}

.text-grey-medium {
  color: #6C6B76 !important;
}

.text-grey-light {
  color: $color-grey-light !important;
}

.subtitle {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.7rem;
  letter-spacing: 0.5px;
  color: $color-grey-light;
  text-align: left;

  @media (max-width: 1300px) {
    font-size: 1.2rem;
  }

  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
}

.spinner-border {
  border-color: #a440f2;
  border-right-color: transparent;
  --bs-spinner-width: 2.5rem;
  --bs-spinner-height: 2.5rem;
}

.link {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.75rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
  color: $color-primary-purple;
  transition: transform 0.3s;
  transition-timing-function: linear;

  @media (max-width: 600px) {
    font-size: 2.8rem;
  }

  &:hover {
    cursor: pointer;
    color: $color-primary-purple;
    text-shadow: -1px -1px 2px rgba(223, 33, 254, 0.2);
  }
}

.link.inactive {
  text-decoration: none;
  &:hover {
    color: $color-primary-purple;
    cursor: default;
  }
}

.icon-link {
  transition: transform 0.2s;
  transition-timing-function: linear;
  &:hover {
    transform: scale(1.05);
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
    -moz-filter: brightness(120%);
  }
}

.label, .label-all {
  color: $color-grey-light;
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  @media (min-width: 1091px) {
    &.label-mobile {
      display: none;
    }
  }
  @media (max-width: 1090px) {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 1.7px;
  }
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.7px;
  }
}

.dropdown {
  display: flex;
  align-items: center;

  .dropdown-toggle {
    border-radius: 3px;
    border-color: $color-primary-purple;
    background-color: $color-navbar-button;
  }
  .dropdown-toggle:hover {
    background-color: $color-navbar-button;
    border-color: $color-primary-purple;
  }
  .dropdown-item:hover {
    background-color: $color-primary-purple;  
  }
}

.number-pink {
  color: $color-white;
  font-family: $font-secondary;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .2px;
  line-height: 2rem;
  margin-bottom: 0.4rem;
  text-shadow: 0 .25rem .8125rem $shadow-pink-neon;
  @media (max-width: 1090px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.learn-more-link{
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  color: $color-primary-purple;
  text-decoration: none;
  transition: transform 0.3s;
  transition-timing-function: linear;
  &:hover {
    cursor: pointer;
    color: $color-primary-purple;
    text-shadow: -1px -1px 2px rgba(223, 33, 254, 0.2);
  }
}

.number-blue {
  color: $color-white;;
  font-family: $font-secondary;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: .2px;
  line-height: 2rem;
  margin-bottom: .6rem;
  text-shadow: 0 .25rem .8125rem $shadow-blue-neon;
  @media (max-width: 1090px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  @media (max-width: 600px) {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.8px;
  }
}

.number-span {
  color: $color-white;
  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 8px $shadow-blue-neon;
  @media (max-width: 1090px) {
    font-size: 1.2rem;
      line-height: 1.5rem;
    letter-spacing: 1.7px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.7px;
  }
}

.solution-img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  filter: opacity(0.85);
}

.language-dropdown {
  margin-right: 0rem;
  .dropdown-toggle {
    border: none;
    padding-top: 4px 5px;
  }
  .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:focus-visible {
    background-color: $color-navbar-button;
    box-shadow: none;
    border: none;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    height: fit-content;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-left: -7rem;
    margin-top: -4px;
  }
  .dropdown-item {
    height: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    .lang-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
    a {
      text-decoration: none;
    }
    .lang-text {
      color: $color-white;
      font-size: 16px;
      margin-left: 7px;      
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1.2rem;
  height: 20rem;
  width: 20rem;
  border: 1px solid $color-grey-dark;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 3px $shadow-purple-neon-secondary;
  background-color: #0e0e19;
  // background-color: $color-background-box;
  @media (max-width: 600px) {
    margin: 0px;
    padding: 5rem;
  }
}

.green-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  height: 20rem;
  width: 20rem;
  border: 1px solid $color-grey-dark;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 3px $shadow-green-neon-second;
  background-color: $color-background-box;
  @media (max-width: 600px) {
    margin: 0px;
    padding: 5rem;
  }
}

.box-button-permanent-hover{
  text-decoration: none;
  box-shadow: 0px 0px 12px 3px $shadow-purple-neon;
  &:hover{
    cursor: default;
  }
}

.box-button {
  transition: transform 0.5s;
  transition-timing-function: ease-in;
  text-decoration: none;

  &:hover {
    border:0.5px solid rgba(165, 64, 242, 0.75);
    box-shadow: 0px 0px 12px 3px rgba(164, 64, 242, 0.4);
    transform: scale(1.01);
    .link {
      transform: scale(1.05);
    }
    .solution-img {
      filter: opacity(1);
    }
  }
}

.box-button-unclickable {
  transition: transform 0.5s;
  transition-timing-function: ease-in;
  text-decoration: none;
  &:hover {
    cursor:default;
    .link {
      transform: scale(1.05);
    }
    .solution-img {
      filter: opacity(1);
    }
  }
}

.box-button-green {
  transition: transform 0.5s;
  transition-timing-function: ease-in;
  text-decoration: none;
  &:hover {
    box-shadow: 0px 0px 12px 3px $shadow-green-neon;
    transform: scale(1.01);

    .link {
      transform: scale(1.05);
    }
    .solution-img {
      filter: opacity(1);
    }
  }
}

.market-cap-box {
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  justify-content: center;
  width: 60%;
}

.price-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  width: 40%;
  .price-value {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
  }
  .coin-icon {
    height: 3.2rem;
    width: 3.2rem;
    margin-top: 5px;
    margin-right: 20px;
  }
}

.vl-divider {
  border-left: 0.7px solid $color-grey;
  height: 100%;
}
.hl-divider {
  border-top: 0.7px solid $color-grey;
  width: 100%;
}

#animated-text-container {
  filter: url(#threshold) blur(0.6px);
}

.newsdescription {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $color-grey;
  text-align: left;
}
