body,
html {
  height: auto;
  overflow: auto;
}

@-moz-document url-prefix() {
  body,
  html {
    height: auto;
  }
}
 
body {
  width: 100%;
  .pt-5 {
    padding-top: 0rem !important;
  }
  .mt-5 {
    padding-top: 0rem !important;
  }
}

.btn-primary:focus {
  color: $color-grey;
  background-color: $color-navbar-button;
  border-color: $color-grey;
  box-shadow: 0 0 0 0.2rem $shadow-purple-neon-secondary;
}
.btn-primary:hover {
  background-color: $color-navbar-button;
  border-color: $shadow-purple-neon-secondary;
}

.menu-logo {
    width: 120px;
}

.coin-icon{
  width: 80px;
}

.bgvid{
  max-height: 100vh;
  height: 100vh;
  object-fit: cover;
  @media only screen and (max-device-width: 600px) and (orientation: portrait) {
    object-fit: fill;
  }
}

.section-main {
  display: flex;
  align-items: flex-end;
  flex-wrap:wrap;
  position: relative;
  padding: 1rem;
  height: 95vh;
  margin-bottom: 4rem;

  .main {
    &-container {
      display: flex;
      flex-direction: column;
      padding: 4rem 4rem;
    }
    &-info {
      padding: 0rem 1rem;
      width: 100%;
    }
    &-title {
      letter-spacing: 0.6px;
      padding: 0.4rem 0rem;
    }
    &-subtitle {
      display: flex;
      flex-direction: column;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      &-actions { 
        display: flex;
      }
    }
    &-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 17.4rem;
      height: 4.5rem;
      background-color: #0D082A;
      // border-color: #0D082A;
      &:hover {
        color: $color-white  !important;
        text-decoration: none;
        background-color: #A440F2;
      }
    }
  }

  .cryptex-logo {
    width: 370px;
  }

  .main-buttons-social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .social-item {
      margin-left: 1.5rem;
    }
    .social-item-icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  .button-to-app {
    margin-right: 1rem;
  }
  .button-learn-more {
    display: none;
  }
}

.section-markets {
  margin: 3rem 1rem 4rem 1rem;
  padding: 9rem 2rem;

  .markets-metrics {
    margin-top: 1rem;
    padding: 0.5rem 0rem;
  }
  .markets-loading {
    align-items: center;
    justify-content: center;
    padding: 8rem 0rem;
  }
  .markets-header {
    border-bottom: 1px solid #494866;
    padding-bottom: 0.5rem;

    div {
      padding-right: 1.5rem;
    }
  }
  .markets-detail {
    height: 25rem;
    overflow-y: scroll;
  }
  .market {
    &-row {
      padding: 0.5rem 0rem;
      background-color: rgba(33, 33, 56, 0.82);

      &.dark {
        background-color: #0e0e19;
      }
    }
    &-title {
      color: $color-grey;
    }
    &-value {
      color: white;
      font-size: 1rem;
    }
    &-subvalue {
      color: $color-grey;
      font-size: 0.8rem;
    }
  }

  .only-mobile {
    display: none;
  }

  .text-right {
    text-align: right;
  }
}

.ml-auto{
  margin-left: auto !important;
} 
.mr-auto{
  margin-right: auto !important;
}

.space-mono-font{
  font-family: 'Helvetica Neue' !important;
  font-weight: bold !important;
}

.helvetica-neue-font{
  font-family: 'Helvetica Neue' !important;
  font-weight: bold !important;
}

.button-hover-transparent{
  height: 3.5rem !important;
  font-size: 1.1rem !important;
  padding-top: 1rem !important;
}

.button-hover-transparent:hover{
  color: white !important;
}

.section-governance {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  margin: 4rem 1rem;
  padding: 7rem 1.5rem;

  .box {
    margin: 1rem;
    padding: 1rem 0rem 1.5rem 0rem;
  }
  .header {
    margin: 0.2rem 1rem;    
  }
  .governance {
    &-content {
      display: flex;
      flex-direction: row;      
    }
    &-main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 52%;
      height: 65vh;
      .info-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0rem 1.5rem 0.7rem 1.5rem;
        height: 100%;
      }
      .info-bottom {
        display: flex;
        flex-direction: column;
      }
      .subtitle  {
        margin-top: 0rem;
      }
      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.6rem 0rem;
        @media (max-width: 1300px) {
          padding: 1rem 0rem;
        }
      }
      .prices {
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;    
        padding: 0rem 1.5rem;
      }
    }
    &-icon {
      width: 50px;
      height: 50px;
      margin-right: 1.6rem;

      &.gemini {
        width: 47px;
        height: 47px;
      }
      &.uniswap {
        height: 55px;
        margin-bottom: 5px; 
      }
      &.huobi {
        width: 48px;
        height: 50px;
      }  
      &.trader-joe {
        width: 56px;
        height: 56px;
      }

      @media (max-width: 1300px) { 
        width: 42px;
        height: 42px;
        &.uniswap {
          width: 42px;
          height: 48px;
        }
        &.gemini {
          width: 40px;
          height: 40px;
        }
        &.huobi {
          width: 34px;
          height: 43px;
        }
        &.trader-joe {
          width: 50px;
          height: 50px;
        }
      }
      @media (max-width: 1100px) {
        width: 35px;
        height: 35px;
        &.uniswap {
          width: 35px;
          height: 40px;
        }
        &.gemini {
          width: 37px;
          height: 37px;
        }
        &.huobi {
          width: 30px;
          height: 37px;
        }
        &.trader-joe {
          width: 44px;
          height: 44px;
        }
      }
    }
    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1rem 1rem 1rem  0rem;
      width: 48%;
      height: 65vh;
      
      .box {
        margin: 0rem 1rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      .subtitle {
        width: 95%;
        margin-bottom: 0.1rem;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%;
      max-height: 30%;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
      .item-icon {
        color: white;
      }
    }
    &-item-content {
      display: flex;
      flex-direction: column;
    }
    &-item-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  padding: 3rem 5rem;
  background-color: $color-navbar-button;
  height: 17rem;
  
  &-info {
    display: flex;
    flex-direction: column;
    width: 35%;
    .subtitle {
      margin-top: 1rem;
    }
    .community {
      display: flex;
      flex-direction: row;
    }
    .social-item {
      margin-right: 20px;

      &.x_logo {
        margin-right: 15px;
      }
    }
    .social-item-icon {
      height: 25px;
      width: 25px;
    }
    .medium {
      height: 20px;
    }
  }
  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 65%;
    .links {
      display: flex;
      flex-direction: column;
      padding: 0rem 2rem;
    }
    .subtitle {
      text-decoration: none;
      margin: 5px 1px;
      transition: transform 0.2s;
      transition-timing-function: linear;

      &:hover {
        cursor: pointer;
        color: $color-grey-light;
        text-shadow: 1px -2px 6px $shadow-pink-neon;
        transform: scale(1.05);
      }
    }
  }

  .menu-logo {
    margin-left: 0px;
    width: 140px;
  }
}

@media only screen and (max-device-width: 1180px) { 
  .section-governance {
    height: 90vh;
    .governance {
      &-main {
        height: 60vh;
      }
      &-detail {
        height: 60vh;
      }
    }
  }
  .footer {
    height: 20rem;  
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7d078520;
}

::-webkit-scrollbar-track:hover{
  background: #7d078520;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9A24FF;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.main-brand-text{
  font-family: 'Tachyon Regular';
  letter-spacing: 0.6rem;
  font-size: 3rem;
  color: #ffd7ff;
  -webkit-text-stroke: 2px #fb38fc;
  text-shadow: 0 0 5px #9A24FF, 0 0 10px #9A24FF, 0 0 15px #9A24FF, 0 0 20px #9A24FF, 0 0 30px #9A24FF, 0 0 40px #9A24FF, 0 0 55px #9A24FF, 0 0 75px #9A24FF;
}
