body,
html {
  height: auto;
  overflow: auto;
}

@-moz-document url-prefix() {
  body,
  html {
    height: auto;
  }
}

body {
  width: 100%;
  .pt-5 {
    padding-top: 0rem !important;
  }
  .mt-5 {
    padding-top: 0rem !important;
  }
}

.btn-primary:focus {
  color: $color-grey;
  background-color: $color-navbar-button;
  border-color: $color-grey;
  box-shadow: 0 0 0 0.2rem $shadow-purple-neon-secondary;
}
.btn-primary:hover {
  background-color: $color-navbar-button;
  border-color: $shadow-purple-neon-secondary;
}

.menu-logo {
    width: 120px;
}

.coin-icon{
  width: 80px;
}

.section-main {
  display: flex;
  align-items: flex-end;
  flex-wrap:wrap;
  position: relative;
  padding: 1rem;
  height: 95vh;

  .main {
    &-container {
      display: flex;
      flex-direction: column;
      padding: 4rem 4rem;
    }
    &-info {
      padding: 2rem 1rem;
      width: 100%;
    }
    &-title {
      letter-spacing: 0.6px;
      padding: 0.4rem 0rem;
    }
    &-subtitle {
      display: flex;
      flex-direction: column;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      &-actions { 
        display: flex;
      }
    }
    &-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 13rem;
      height: 3.5rem;

      &:hover {
        color: $color-white  !important;
        text-decoration: none;
      }
    }
  }
  .main-buttons-social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .social-item {
      margin-left: 1.5rem;
    }
    .social-item-icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  .button-to-app {
    margin-right: 1rem;
  }
  .button-learn-more {
    display: none;
  }
}

.section-bg-jpegz {
  background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../../static/website/indexes/JPEGz_Box.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ml-auto{
  margin-left: auto !important;
} 
.mr-auto{
  margin-right: auto !important;
}

.section-bg-tcap {
  background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../../static/website/indexes/TCAP_Box.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 6.5rem 1rem;
  padding: 5rem;

  .header {
    margin: 0rem;
  }
  .positive-ticker{
    color: greenyellow;
  }
  .subtitle-detail{
    font-size: 0.8rem;
  }
  .solution-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inline-helper{
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
  }
  .same-size-button{
    min-width: 50%;
    width: auto;
    font-size: 0.9vw;
    height: 100%;
    text-align: center;
  }
  .pull-right {
    margin-left: 0.8rem;
  }
  .swap-button{
    background-color: #50D313;
    color: #FFF;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: $font-primary;
    text-decoration: none;
    &:hover {
      transform: scale(1.05);
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }
  .swap-button-outline{
    width: 50%;
    background-color: transparent;
    color: $color-white;
    border: 2px solid $color-primary-purple;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-family: $font-primary;
    text-decoration: none;
    &:hover {
      transform: scale(1.05);
      background-color: transparent;
      color: #FFF;
      border: 2px solid $color-primary-purple;
      padding: 0.5rem 2rem;
      cursor: pointer;
    }
  }
  .solutions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 28rem;
      width: 32rem;
      @media (max-width: 1300px) {
        height: 30rem;
      }

      .terciary-header {
        margin-top: 0.5rem;
      }
      .subtitle {
        margin-top: 1rem;
      }
    }
    .index-prices {
      margin-top: 2rem;
    }
    &-link {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.space-mono-font{
  font-family: 'Helvetica Neue' !important;
  font-weight: bold !important;
}

.helvetica-neue-font{
  font-family: 'Helvetica Neue' !important;
  font-weight: bold !important;
}

.button-hover-transparent{
  height: 3.5rem !important;
  font-size: 1.2rem !important;
  padding-top: 1rem !important;
}

.button-hover-transparent:hover{
  color: white !important;
}

.section-governance {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  margin: 4rem 1rem;
  padding: 7rem 1.5rem;

  .box {
    margin: 1rem;
    padding: 1rem 0rem 1.5rem 0rem;
  }
  .header {
    margin: 0.2rem 1rem;    
  }
  .governance {
    &-content {
      display: flex;
      flex-direction: row;      
    }
    &-main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 52%;
      height: 65vh;
      .info-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0rem 1.5rem 0.7rem 1.5rem;
        height: 100%;
      }
      .info-bottom {
        display: flex;
        flex-direction: column;
      }
      .subtitle  {
        margin-top: 0rem;
      }
      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.6rem 0rem;
        @media (max-width: 1300px) {
          padding: 1rem 0rem;
        }
      }
      .prices {
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;    
        padding: 0rem 1.5rem;
      }
    }
    &-icon {
      width: 50px;
      height: 50px;
      margin-right: 1.8rem;

      &.gemini {
        width: 47px;
        height: 47px;
      }
      &.uniswap {
        height: 55px;
        margin-bottom: 5px; 
      }
      &.huobi {
        width: 48px;
        height: 50px;
      }      

      @media (max-width: 1300px) { 
        width: 42px;
        height: 42px;
        &.uniswap {
          width: 42px;
          height: 48px;
        }
        &.gemini {
          width: 40px;
          height: 40px;
        }
        &.huobi {
          width: 34px;
          height: 43px;
        }
      }
      @media (max-width: 1100px) {
        width: 35px;
        height: 35px;
        &.uniswap {
          width: 35px;
          height: 40px;
        }
        &.gemini {
          width: 37px;
          height: 37px;
        }
        &.huobi {
          width: 30px;
          height: 37px;
        }
      }
    }
    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1rem 1rem 1rem  0rem;
      width: 48%;
      height: 65vh;
      
      .box {
        margin: 0rem 1rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      .subtitle {
        width: 95%;
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%;
      max-height: 30%;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
      .item-icon {
        color: white;
      }
    }
    &-item-content {
      display: flex;
      flex-direction: column;
    }
    &-item-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.section-protocol {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 7rem 1rem;
  padding: 5rem;

  .header {
    margin: 1.5rem 0rem;
  }
  .box {
    margin: 1.5rem;
  }
  .subheader {
    margin: 0.5rem 0rem;
    text-align: center;
    width: 60%;
  }
  .items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 21rem;
      width: 18rem;

      @media (max-width: 1300px) {
        height: 25rem;
      }

      .terciary-header {
        margin-top: 0.5rem;
      }
      .subtitle {
        margin-top: 0.5rem;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &-link {
      display: flex;
      justify-content: flex-end;
    }
    &-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;      
    }
    .safety-logo {
      height: 140px;
      margin-top: 1rem;
      @media only screen and (max-device-width: 1400px) {
        height: 120px;
      }
      @media only screen and (max-device-width: 1024px) {
        height: 75px;
      }
    }

  }
}

.section-ecosystem {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 5rem 1rem;
  padding: 4rem;

  .box {
    width: 100%;
    height: 60vh;
    margin: 0rem;
  }

  .ecosystem-content {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 2rem;
    margin-top: 2rem;
  }

  .ecosystem-link{
    color: #50D313;
    text-decoration: none;
    &:hover {
      color:#4f9782;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    .subtitle {
      margin-top: 0rem;
    }
    .subscribe {
      &-data {
        display: flex;
      }
      &-input {
        position: relative;
        width: 24.8125rem;
        height: 3.375rem;
        background: $color-navbar-button;
        border: 0.0625rem solid $color-grey;
        box-sizing: border-box;
        border-radius: 0.0625rem;
        font-family: $font-tertiary;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 0.875rem;
        color: $color-grey;
        padding: 1.5rem 1.1rem;
        margin-top: 2rem;
        margin-right: 1.2rem;
      }
      &-button {
        position: relative;
        width: 13.625rem;
        height: 3.375rem;
        margin-top: 2rem;
      }
    }
  }
  
  .sewagefruit {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding-bottom: 1.5rem;
    img {
      margin: 2rem 0rem;
    }
    .heading-secondary {
      justify-content: space-between;
    }
    &-footer {
      display: flex;
      justify-content: flex-end;
      padding-top: 0.5rem;
      padding-bottom: 0rem;
    }
    &-icon {
      color: white;
      transform: rotateZ(320deg);
      margin-top: 0.3rem;
      margin-left: 1rem;
    }
  }

  /* .carousel {
    height: 60vh;
    width: 55%;
    margin: 2rem 0rem;
    .item-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem 1rem;

    }
    .sewage-img-container {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
  } */
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  padding: 3rem 5rem;
  background-color: $color-navbar-button;
  height: 17rem;
  
  &-info {
    display: flex;
    flex-direction: column;
    width: 35%;
    .subtitle {
      margin-top: 1rem;
    }
    .community {
      display: flex;
      flex-direction: row;
    }
    .social-item {
      margin-right: 20px;      
    }
    .social-item-icon {
      height: 25px;
      width: 25px;
    }
    .medium {
      height: 20px;
    }
  }
  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 65%;
    .links {
      display: flex;
      flex-direction: column;
      padding: 0rem 2rem;
    }
    .subtitle {
      text-decoration: none;
      margin: 5px 1px;
      transition: transform 0.2s;
      transition-timing-function: linear;

      &:hover {
        cursor: pointer;
        color: $color-grey-light;
        text-shadow: 1px -2px 6px $shadow-pink-neon;
        transform: scale(1.05);
      }
    }
  }

  .menu-logo {
    margin-left: 0px;
    width: 140px;
  }
}

@media only screen and (max-device-width: 1300px) {
  .section-solutions {
    .solution-img-container {
      margin-top: 1.5rem;
    }
  }

  .section-ecosystem {
    .sewagefruit {
      &-footer {
        padding-top: 0rem;
        padding-bottom: 0em;
      }
      img {
        height: 100%;
      }
    }
  }
}

@media only screen and (max-device-width: 1180px) { 
  .section-solutions {
    margin: 2rem 1rem;
    height: 90vh;
  }
  .section-governance {
    height: 90vh;
    .governance {
      &-main {
        height: 60vh;
      }
      &-detail {
        height: 60vh;
      }
    }
  }
  .section-safety {
    .items {
      .safety-logo {
        height: 75px;
      }
    }
  }
  .section-ecosystem {
    height: 90vh;
    .main {
      height: 55vh;
    }
    .carousel {
      height: 55vh;
    }
  }
  .footer {
    height: 20rem;  
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7D0785;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F00DFF;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.main-brand-text{
  font-family: 'Tachyon Regular';
  letter-spacing: 0.6rem;
  font-size: 2rem;
  color: #ffd7ff;
  -webkit-text-stroke: 2px #fb38fc;
  text-shadow: 0 0 5px #9A24FF, 0 0 10px #9A24FF, 0 0 15px #9A24FF, 0 0 20px #9A24FF, 0 0 30px #9A24FF, 0 0 40px #9A24FF, 0 0 55px #9A24FF, 0 0 75px #9A24FF;
}
