// Main Website

h1, h2, h3, h4, h5, h6  {
  font-family: $font-primary;
}

h1 {
  color: $color-dark-clean;
  text-transform: capitalize;
  font-size: 1.75rem;
  line-height: 3rem;
}

.menu-logo {
  width: 100px;
}

.header {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-align: left !important;
  color: $color-dark-clean;
}

.heading-secondary {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: $color-dark-clean;
  text-align: left;
}

.terciary-header {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.3px;
  color: $color-dark-clean;
  text-align: left;
}

.question {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  align-items: center;
  letter-spacing: 0.3px;
  color: $color-dark-clean;
  text-align: left;
}

.answer {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.3px;
  text-align: left;
  color: $color-grey;

  a {
    color: $color-grey;
  }
}

.plus {
  position: relative;
  width: 1.25rem;
  height: 1.375rem;
  left: calc(50% - 1rem / 2 + 17.28125rem);
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.375rem;
  display: flex;
  margin-top: -1.25rem;
  // align-items: center;
  // text-align: right;
  letter-spacing: 0.3px;
  color: $color-dark-clean;
}

.newsdescription {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $color-grey;
  text-align: left;
}

.content {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.3px;
  text-align: left;
}

.link {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
  color: $color-primary-purple;
}

.main {
  &-title {
		padding: 0.5rem;
		margin-bottom: 3.5rem;
		width: 43.88rem;
		letter-spacing: 0.6px;
	}

	&-number-pink {
		padding: 0.5rem;
		margin-bottom: 0.7rem;
		font-family: $font-secondary;
		font-style: normal;
		font-weight: normal;
		font-size: 1.625rem;
		line-height: 2.25rem;
		display: flex;
		align-items: center;
		letter-spacing: 0.2px;
		color: $color-white;
		text-shadow: 0px 4px 13px $shadow-pink-neon;
	}

  &-bold-text {
		padding-left: 0.5rem;
		font-family: $font-tertiary;
		font-style: normal;
		font-weight: bold;
		font-size: 1rem;
		line-height: 1.375rem;
		display: flex;
		align-items: center;
		letter-spacing: 0.0375rem;
		color: $color-grey;
	}

	&-number-blue {
		padding: 0.5rem;
		margin-bottom: 0.6rem;
		font-family: $font-secondary;
		font-style: normal;
		font-weight: normal;
		font-size: 1.625rem;
		line-height: 2.25rem;

		display: flex;
		align-items: center;
		letter-spacing: 0.0125rem;

		color: $color-white;
		text-shadow: 0rem 0.25rem 0.8125rem $shadow-blue-neon;
	}

  &-tcap {
		&-text {
			font-family: $font-tertiary;
			font-style: normal;
			font-weight: bold;
			font-size: 1rem;
			line-height: 0.875rem;
		}
	}

	&-number-green {
		width: 3.8125rem;
		height: 2.3125rem;

		font-family: $font-secondary;
		font-style: normal;
		font-weight: normal;
		font-size: 0.875rem;
		line-height: 2rem;

		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.2px;

		color: $color-primary-green;
		text-shadow: 0rem 0.25rem 0.8125rem $color-primary-green;
	}
}

.about {
  &-info {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-bottom: 1rem;
		order: 1;
	}
	&-title {
		padding: 1rem 0rem 2rem 0rem;
		letter-spacing: 0.3px;
	}
	&-content {
		padding: 2rem 0rem;
		width: 26.8125rem;
		font-family: $font-tertiary;
		font-style: normal;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.375rem;
		text-align: left;
		letter-spacing: 0.3px;
		color: $color-grey;
	}
	&-img-container {
		display: flex;
		justify-content: center;
		order: 2;
	}
	&-image {
		width: 23.1875rem;
		height: 23.809375rem;
	}
	&-details {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		width: 22.375rem;
		order: 3;

		&-item {
			padding: 1rem 0rem 1rem 0rem;
		}
		&-icons {
			margin-right: 1rem;
			filter: drop-shadow(0 0 0.25rem #6450FB);
		}	
		&-text {
			font-family: $font-primary;
			font-style: normal;
			font-weight: normal;
			font-size: 1.25rem;
			line-height: 1.5rem;
			display: flex;
			align-items: center;
			letter-spacing: 0.3px;
			color: $color-grey;
			text-shadow: 0rem 0.25rem 0.8125rem #A440F2;
			&:hover {
				color: $color-dark-clean;
				text-decoration: none;
			}
		}
	}
}

.governance {
  &-info {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-bottom: 1rem;
		order: 1;
	}

  &-title {
    width: 32.375rem;
    letter-spacing: 0.3px;
  }

  &-content {
    margin: 2rem 0rem 1rem 0rem;
    font-family: $font-tertiary;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: left;
    letter-spacing: 0.3px;
    color: $color-grey;
  }

  &-img-container {
		display: flex;
		justify-content: center;
		order: 2;
	}

  &-image {
    width: 21.8125rem;
    height: 25.0605rem;
  }

  &-details {
    display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		order: 3;

    &-item {
      &:not(:first-child) {
        padding-top: 1.5rem;
      }
      margin-bottom: 1.1rem;
    }

    &-icons {
      margin-right: 1rem;
      filter: drop-shadow(0 0 0.25rem #6450fb);
    }

    &-text {
      font-family: $font-primary;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 1.5rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.3px;
      color: $color-grey;
      text-shadow: 0rem 0.25rem 0.8125rem #a440f2; //$shadow-purple-neon;
      &:hover {
        color: $color-dark-clean;
        text-decoration: none;
      }
    }
  }

  &-buttons {
    position: relative;
    margin: 1rem 0rem;
  }

  &-icon {
    width: 40px;
    height: 40px;
    margin-right: 1.2rem;

    &.gecko {
      left: 2px;
      top: 5px;
    }
    &.uni {
      left: 60px;
      width: 40.25px;
      height: 47.5px;
    }
    &.dfp {
      left: 124px;
      width: 32.5px;
      height: 38.75px;
      top: 7px;
    }
    &.gemini {
      left: 182px;
      width: 36.5px;
      height: 40.75px;
      top: 7px;
    }
  }
}

.features {
  display: flex;
	position: relative;
	&-title {
		margin: 2rem 0rem;
		padding: 1rem;
		letter-spacing: 0.3px;
	}

	&-row{
		display: flex;
		flex-wrap: wrap;
		padding: 5rem 0rem;
		a {
			text-decoration: none;	
		}
	}
	&-icons {
		width: 6.25rem;
		height: 5.75rem;
	}
	&-subtitle {
		padding: 1.1rem 1.2rem;	
	}
	&-content {
		padding: 0rem 1.2rem;
		color: transparent;
	}
	&-box{
		&-mint {
			display: flex;
			flex-direction: column;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			&:hover {
				background: $color-background-features;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-green-neon, 0px 0px 34px $shadow-green-neon-second;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}
		&-trade {
			display: flex;
			flex-direction: column;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			&:hover {
				background: $color-background-features;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-purple-neon, 0px 0px 34px $shadow-purple-neon-secondary;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}
		&-pool {
			display: flex;
			flex-direction: column;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			&:hover {
				background: $color-background-features;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-blue-neon, 0px 0px 34px $shadow-blue-neon-second;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}
		&-farm {
			display: flex;
			flex-direction: column;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			&:hover {
				background: $color-background-features;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-orange-neon, 0px 0px 34px $shadow-orange-neon-second;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}
	}
}

.community {
  &-content {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
  }
  &-subtitle {
    position: relative;
    width: 29.125rem;
    color: $color-grey;
    text-align: left;
    margin: 2rem 0rem;
  }

  &-icons {
    margin-bottom: 2rem;
    margin-left: -3rem;
    &-row {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    display: flex;
    text-decoration: none !important;

    &:hover {
      text-shadow: 0 0 80px $shadow-purple-neon, 0 0 70px $shadow-purple-neon,
        0 0 60px $shadow-purple-neon, 0 0 50px $shadow-purple-neon,
        0 0 40px $shadow-purple-neon, 0 0 30px $shadow-purple-neon;
    }

    &-icon {
      height: 6.4225rem;      
    }

    &-text {
      display: flex;
      align-items: center;
      height: 5.8rem;
      margin-left: -1rem;
    }
  }

  &-subscribe {
    &-data{
      display: flex;
    }
    &-input {
      position: relative;
      width: 24.8125rem;
      height: 3.375rem;
      background: $color-navbar-button;
      border: 0.0625rem solid $color-grey;
      box-sizing: border-box;
      border-radius: 0.0625rem;
      font-family: $font-tertiary;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 0.875rem;
      color: $color-grey;
      padding: 1.5rem 2rem;
      margin-top: 2rem;
      margin-right: 1.2rem;
    }
    &-button {
      position: relative;
      width: 13.625rem;
      height: 3.375rem;
      margin-top: 2rem;
    }
  }

  &-image {
    position: relative;
    width: 37.5rem;
    height: 31.07rem;
  }
}
