
// Main Website

h1, h2, h3, h4, h5, h6  {
  color: $color-dark-clean;
  font-family: $font-primary;
}

h1, .header {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  color: $color-dark-clean;
  text-transform: capitalize;
  font-size: 1.75rem;
  line-height: 3rem;
}
h2, .heading-secondary { 
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}
h3, .terciary-header { 
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.3px;
}


.menu-logo {
  width: 100px;
}

.header {
  display: flex;
  align-items: center;
  text-align: left !important;
  color: $color-dark-clean;
}

.heading-secondary {
  display: flex;
  align-items: center;
  color: $color-dark-clean;
  text-align: left;
  @media only screen and (max-device-width: 600px) {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}

.terciary-header {
  color: $color-dark-clean;
  text-align: left;
  @media only screen and (max-device-width: 1330px) {
    font-size: 1.2rem;
  }
  @media only screen and (max-device-width: 600px) {
    font-size: 3.5rem;
  }
}

.subheader {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.375rem;
  letter-spacing: 0.5px;
  color: $color-grey-light;
  text-align: left;
  @media (max-width: 1300px) {
    font-size: 1.3rem;
  }
}

.subheader2 {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 1.375rem;
  letter-spacing: 0.5px;
  color: $color-grey-light;
  text-align: left;

  @media (max-width: 1300px) {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.37rem;
  letter-spacing: 0.5px;
  color: $color-grey-light;
  text-align: left;

  @media (max-width: 1300px) {
    font-size: 1.2rem;
  }

  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
}

.link {
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.75rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
  color: $color-primary-purple;
  @media (max-width: 600px) {
    font-size: 2.8rem;
  }

  &:hover {
    color: $color-primary-purple;
    cursor: pointer;
  }
}

.label  {
  color: $color-grey-light;
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  @media (max-width: 1090px) {
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: 0.7px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.7px;
  }
}

.number-pink {
  color: $color-white;
  font-family: $font-secondary;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 2rem;
  margin-bottom: 0.4rem;
  text-shadow: 0 4px 13px $shadow-pink-neon;
  @media (max-width: 1090px) {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  @media (max-width: 600px) {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.8px;
  }
}

.number-blue {
  color: $color-white;;
  font-family: $font-secondary;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 2rem;
  margin-bottom: .6rem;
  text-shadow: 0 .25rem .8125rem $shadow-blue-neon;
  @media (max-width: 1090px) {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
  @media (max-width: 600px) {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.8px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  height: 20rem;
  width: 20rem;
  border: 1px solid $color-grey-dark;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 3px $shadow-purple-neon-secondary;
  background-color: $color-background-box;
  @media (max-width: 600px) {
    margin: 0px;
    padding: 5rem;
  }
}

.box-button {
  &:hover {
    box-shadow: 0px 0px 12px 3px $shadow-purple-neon;
  }
}

.carousel {
  background-color: $color-background-box;
  &-item {
    margin: 1rem 1rem;
    padding: 1rem 2rem;
  }
}

.market-cap-box {
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  width: 65%;
}

.price-box {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  width: 35%;
}

.vl-divider {
  border-left: 0.7px solid $color-grey;
  height: 100%;
}
.hl-divider {
  border-top: 0.7px solid $color-grey;
  width: 100%;
}


.newsdescription {
  font-family: $font-tertiary;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $color-grey;
  text-align: left;
}
