	// Main Website
	.menu-logo {
		width: 100px;
	}

	.header {
		font-family: $font-primary;
		font-style: normal;
		font-weight: 400;
		font-size: 1.75rem;
		line-height: 3rem;
		display: flex;
		align-items: center;
		text-transform: capitalize;
		text-align: left !important;
		color: $color-dark-clean;
	}

	.heading-secondary {
		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 1.375rem;
		line-height: 1.5rem;
		display: flex;
		align-items: center;
		letter-spacing: 0.3px;
		color: $color-dark-clean;
		text-align: left;
	}

	.terciary-header {
		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 0.875rem;
		line-height: 1.375rem;
		letter-spacing: 0.3px;
		color: $color-dark-clean;
		text-align: left;
	}

	.question {
		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 1.125rem;
		line-height: 1.375rem;
		// display: flex;
		align-items: center;
		letter-spacing: 0.3px;
		color: $color-dark-clean;
		text-align: left;
	}

	.answer {
		font-family: $font-tertiary;
		font-style: normal;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.375rem;
		letter-spacing: 0.3px;
		text-align: left;
		color: $color-grey;
	}

	.plus {
		position: relative;
		width: 1.25rem;
		height: 1.375rem;
		left: calc(50% - 1rem/2 + 17.28125rem);
		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 1.375rem;
		line-height: 1.375rem;
		display: flex;
		margin-top: -1.25rem;
		// align-items: center;
		// text-align: right;
		letter-spacing: 0.3px;
		color: $color-dark-clean;
	}

	.newsdescription {
		font-family: $font-tertiary;
		font-style: normal;
		font-weight: normal;
		font-size: 0.875rem;
		line-height: 1rem;
		color: $color-grey;
		text-align: left;
	}

	.content {
		font-family: $font-tertiary;
		font-style: normal;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.375rem;
		letter-spacing: 0.3px;
		text-align: left;
	}

	.link {
		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 0.625rem;
		line-height: 0.75rem;
		display: flex;
		align-items: center;
		letter-spacing: 0.6px;
		color: $color-primary-purple;
	}

	.main {
		&-title {
			position: absolute;
			width: 43.88rem;
			height: 6rem;
			left: calc(50% - 43.88rem/2 - 18.06rem);
			top: calc(50% - 6rem/2 - 13.625rem);
			letter-spacing: 0.6px;
		}

		&-number-pink {
			position: absolute;
			width: 23.125rem;
			height: 2.25rem;
			left: calc(50% - 23.125rem/2 - 28.4375rem);
			top: calc(50% - 2.25rem/2 - 5.25rem);

			font-family: $font-secondary;
			font-style: normal;
			font-weight: normal;
			font-size: 1.625rem;
			line-height: 2.25rem;

			display: flex;
			align-items: center;
			letter-spacing: 0.2px;
			color: $color-white;
			text-shadow: 0px 4px 13px $shadow-pink-neon;
		}

		&-bold-text {
			position: absolute;
			width: 22.083125rem;
			height: 1.375rem;
			left: calc(50% - 22.083125rem/2 - 28.96875rem);
			top: calc(50% - 1.375rem/2 - 2.5rem);

			font-family: $font-tertiary;
			font-style: normal;
			font-weight: bold;
			font-size: 1rem;
			line-height: 1.375rem;

			display: flex;
			align-items: center;
			letter-spacing: 0.0375rem;

			color: $color-grey;
		}

		&-number-blue {
			position: absolute;
			width: 8.6875rem;
			height: 2.25rem;
			left: calc(50% - 8.6875rem/2 - 5.71875rem);
			top: calc(50% - 2.25rem/2 - 5.25rem);

			font-family: $font-secondary;
			font-style: normal;
			font-weight: normal;
			font-size: 1.625rem;
			line-height: 2.25rem;

			display: flex;
			align-items: center;
			letter-spacing: 0.0125rem;

			color: $color-white;
			text-shadow: 0rem 0.25rem 0.8125rem $shadow-blue-neon;
		}

		&-tcap {
			position: absolute;
			width: 2.5625rem;
			height: 0.875rem;
	
			&-text {
				font-family: $font-tertiary;
				font-style: normal;
				font-weight: bold;
				font-size: 1rem;
				line-height: 0.875rem;
			}
		}

		&-number-green {
			position: absolute;
			width: 3.8125rem;
			height: 2.3125rem;
			left: calc(50% - 3.8125rem/2 - 2.88125rem);
			top: calc(50% - 2.3125rem/2 - 2.5rem);

			font-family: $font-secondary;
			font-style: normal;
			font-weight: normal;
			font-size: 0.875rem;
			line-height: 2rem;

			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: -0.2px;

			color: $color-primary-green;
			text-shadow: 0rem 0.25rem 0.8125rem $color-primary-green;
		}
	
	}

.about {
	&-title {
		position: absolute;
		width: 18.75rem;
		height: 3rem;
		left: calc(50% - 18.75rem/2 - 30.625rem);
		top: calc(50% - 3rem/2 - 10.3125rem);
		letter-spacing: 0.3px;
	}

	&-content {
		position: absolute;
		width: 26.8125rem;
		height: 13.75rem;
		left: calc(50% - 26.8125rem/2 - 26.59375rem);
		top: calc(50% - 13.75rem/2 + 2.6125rem);
		font-family: $font-tertiary;
		font-style: normal;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.375rem;
		text-align: left;
		letter-spacing: 0.3px;
		color: $color-grey;
	}

	&-image {
		position: absolute;
		width: 23.1875rem;
		height: 23.809375rem;
		left: calc(50% - 23.1875rem/3 - 2.625rem);
		top: calc(50% - 23.809375rem/2 - .3125rem);
		
	}

	&-details {
		position: absolute;
		// background-color: red;//transparent;
		width: 22.375rem;
		height: 22.0625rem;
		top: calc(50% - 22.375rem/3 - 2.6125rem);
		left: calc(50% - 22.0625rem/2 + 30.825rem);
		text-align: left !important;

		&-item {
			&:not(:first-child) { 
				padding-top: 1.5rem;
			}
			margin-bottom: 1.5rem;
			
		}

		&-divisor {
			position: absolute;
			width: 354px;
			height: 1px;
			background: #494866;
		}

		&-icons {
			margin-right: 1rem;
			// background: transparent;
			// text-shadow: 0rem 0rem 0.156565rem #6450FB, 0rem 0rem 0.13011875rem #3626B0;
			filter: drop-shadow(0 0 0.25rem #6450FB);
		}
		
		&-text {
			left: calc(50% - 9.625rem/2 + 26.9375rem);
			top: calc(50% - 1.5rem/2 - 9.625rem);
			font-family: $font-primary;
			font-style: normal;
			font-weight: normal;
			font-size: 1.25rem;
			line-height: 1.5rem;
			display: flex;
			align-items: center;
			letter-spacing: 0.3px;
			color: $color-grey;
			text-shadow: 0rem 0.25rem 0.8125rem #A440F2;//$shadow-purple-neon;
			&:hover {
				color: $color-dark-clean;
			}
		}
	}
}

.features {
	display: block;
	position: relative;
	&-title {
		position: absolute;
		width: 23.0625rem;
		height: 3rem;
		left: calc(50% - 23.0625rem/2 - 27.96875rem);
		top: calc(50% - 3rem/2 - 15.125rem);
		letter-spacing: 0.3px;
	}

	&-row {
		
		position: absolute;
		top: calc(50% - 25.1875rem/2 + 5.125rem);//18.5625rem;
		left: 5rem;
	}

	&-icons {
		position: absolute;
		width: 6.25rem;
		height: 5.75rem;
		left: calc(50% - 6.25rem/2 - 5.53125rem);
		top: calc(50% - 5.75rem/2 - 6.9375rem);
	}

	&-subtitle {
		width: 4.0625rem;
		height: 1.5rem;
		left: calc(50% - 4.0625rem/2 - 5.53125rem);
		top: calc(50% - 1.5rem/2 - 2.9375rem);
		position: absolute;
	}

	&-content {
		position: absolute;
		width: 14.6875rem;
		height: 8.25rem;
		left: calc(50% - 14.6875rem/2 - .25625rem);
		top: calc(50% - 8.25rem/2 + 4.5rem);
		color: transparent;
	}

	&-box{

		&-mint {
			position: relative;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			
			&:hover {
				background: #111131;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-green-neon, 0px 0px 34px $shadow-green-neon-second;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}

		&-trade {
			position: relative;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			&:hover {
				background: #111131;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-orange-neon, 0px 0px 34px $shadow-orange-neon-second;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}

		&-pool {
			position: relative;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			&:hover {
				background: #111131;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-blue-neon, 0px 0px 34px $shadow-blue-neon-second;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}

		&-farm {
			position: relative;
			width: 20rem;
			height: 25.1875rem;	
			background-color: transparent;
			&:hover {
				background: #111131;
				border: 1px solid rgba(255, 255, 255, 0.6);
				box-sizing: border-box;
				box-shadow: 0px 0px 4px $shadow-purple-neon, 0px 0px 34px $shadow-purple-neon-secondary;
				border-radius: 4px;
				.features-content {
					color: $color-grey;
				}
				.features-subtitle {
					text-decoration: none;
					&:hover {
						color: $color-dark-clean;
					}
				}
			}
		}
	}
}

.team {
	
	&-title {
		position: absolute;
		width: 6.3125rem;
		height: 3rem;
		left: calc(50% - 6.3125rem/2 - 36.78125rem);
		top: calc(50% - 3rem/2 - 14.1875rem);
	}

	&-subtitle {
		position: absolute;
		width: 27.8125rem;
		height: 1.375rem;
		left: calc(50% - 27.8125rem/2 - 26.09375rem);
		top: calc(50% - 1.375rem/2 - 11rem);
		color: $color-grey;
	}

	&-divider {
		position: absolute;
		width: 1px;
		height: 33.5rem;
		left: 50%;
		top: calc(50% - 33.5rem/2 + 4.5rem);

		/* dark-grey */

		background: #494866;
	}
}

.community {
	
	&-title {
		position: absolute;
		width: 23.875rem;
		height: 3rem;
		left: calc(50% - 23.875rem/2 - 28rem);
		top: calc(50% - 3rem/2 - 16.75rem);
	}

	&-subtitle {
		position: absolute;
		width: 29.125rem;
		height: 2.75rem;
		left: calc(50% - 29.125rem/2 - 25.4375rem);
		top: calc(50% - 2.75rem/2 - 10.1875rem);
		color: $color-grey;
		text-align: left;
	}

	&-icons-row {
		position: absolute;
		width: 45rem;
		height: 6.5rem;
		left: calc(50% - 45rem/2 - 13.0375rem);
		top: calc(50% - 6.5rem/2 - 2.1875rem);
	}

	&-item {
		display: inline-table;
		width: 11rem;
		margin-right: 4rem;
		text-decoration: none !important;

		&:hover {
			//box-sizing: border-box;
			// filter:drop-shadow(5.00246px -4.66487px 0px $shadow-purple-neon) drop-shadow(-5.00246px 4.66487px 0px $shadow-pink-neon);
			//box-shadow: 0px 0px 1px $shadow-green-neon, 0px 0px 34px $shadow-green-neon-second; rgb(0, 255, 255) rgb(255, 0, 255)
			color:#fa0000;
    	text-shadow: 0 0 80px $shadow-purple-neon,
                 0 0 70px $shadow-purple-neon,
                 0 0 60px $shadow-purple-neon,
                 0 0 50px $shadow-purple-neon,
                 0 0 40px $shadow-purple-neon,
                 0 0 30px $shadow-purple-neon;
		}

		&-icon {
			width: 6.4225rem;
			height: 6.4225rem;
			float: left;
			margin-left: -6.4225rem;
		}
			
		&-text {
			width: 3.9375rem;
			height: 5.8rem;
			display: flex;
			align-items: center;
			margin-left: -1rem;
		}
		
	}

	&-subscribe {
		&-title {
			position: absolute;
			width: 13.125rem;
			height: 1.5rem;
			left: calc(50% - 13.0625rem/2 - 33.46875rem);
			top: calc(50% - 1.5rem/2 + 7.5625rem);
		}

		&-input {
			position: absolute;
			width: 24.8125rem;
			height: 3.375rem;
			// left: calc(50% - 24.8125rem/2 - 27.66875rem);
			top: calc(50% - 3.375rem/2 + 4.925rem);
			background: $color-navbar-button;
			border: 0.0625rem solid $color-grey;
			box-sizing: border-box;
			border-radius: 0.0625rem;
			font-family: $font-tertiary;
			font-style: normal;
			font-weight: normal;
			font-size: 1rem;
			line-height: 0.875rem;
			color: $color-grey;
			padding: 1.5rem 2rem;
		}

		&-button {
			position: absolute;
			width: 13.625rem;
			height: 3.375rem;
			left: calc(50% - 24.8125rem/2 - 1.46875rem);
			top: calc(50% - 3.375rem/2 + 12.5625rem);
		}

	}

	&-image {
		position: absolute;
		width: 37.5rem;
		height: 31.07rem;
		left: calc(50% - 37.5rem/2 + 20.46875rem);
		top: calc(50% - 31.07rem/2 - .25rem);
	}

}